<section class="content-main">
  <form action="/admin/addPost" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-9">

        <div class="content-header">
          <h2 class="content-title">Add Blog</h2>
          <div>
            {{! <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> }}
            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4></h4>
          </div>
          <div class="card-body">

            <input type="hidden" name="id" value="{{post._id}}" />

            <div class="mb-4">
              <label for="product_name" class="form-label">Author Name</label>
              <input type="text" value="{{post.author}}" placeholder="Type here" name="author" class="form-control"
                id="product_name" />
            </div>
            <div class="mb-4">
              <label for="product_name" class="form-label">Heading</label>
              <input type="text" value="{{post.heading}}" placeholder="Type here" name="heading" class="form-control"
                id="product_name" />
            </div>

            <div class="mb-4">
              <label class="form-label">Post Type</label>
              <select name="postType" class="form-select">
                {{#if post}}
                <option>{{postType}}</option>
                <option>Story</option>
                <option>Blog</option>
                {{else}}
                <option>Story</option>
                <option>Blog</option>
                {{/if}}
              </select>
            </div>

            <div class="mb-4">
              <label class="form-label">Content</label>
              <textarea placeholder="Type here" name="content" class="form-control" rows="4">{{post.content}}</textarea>
            </div>

          </div>
        </div>
        <!-- card end// -->
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Post Image</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <div class="mb-4">
                <label for="product_name" class="form-label">Image Caption</label>
                <input type="text" value="{{post.caption}}" placeholder="Type here" name="caption" class="form-control"
                  id="product_name" />
              </div>
              {{#if review}}
              <img src="assets/ProductImages/{{post.image}}" />
              {{else}}
              <img src="assets/imgs/theme/upload.svg" alt="" />
              {{/if}}
              <input onchange="validateFile()" id="myFile" class="form-control" name="image" type="file"
                accept=".png, .jpg, .jpeg, .gif" size="2048" />
              <small class="text-danger" id="alert"></small>
            </div>
          </div>

        </div>
        <!-- card end// -->

      </div>
    </div>
  </form>

</section>
<!-- content-main end// -->

<script>
  function validateFile() {
    var fileInput = document.getElementById('myFile');
    var fileSize = fileInput.files[0].size; // size in bytes var alertElement =
    document.getElementById('alert'); if (fileSize > 2000000) { // 2KB in bytes
      alertElement.textContent = 'File size must be less than or equal to 2MB.';
      fileInput.value = ""; // clear the file input to allow re-selection return
      false; // prevent form submission } alertElement.textContent = ''; // clear
  the error message return true; // allow form submission }
</script>