 <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Job List</h2>
                </div>
                <div>
                  
                    <a href="/admin/createJob" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">

                <div class="card-body">
                    {{#each job}}
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="/admin/editCareer?id={{_id}}">
                                    <div class="info">
                                        <h6 class="mb-0">{{title}}</h6>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-lg-4 col-sm-2 col-4 col-price"> <span>{{subTitle}}</span> </div>
                            
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>{{formatDate createdAt}}</span>
                            </div>
                            {{#if isAvailable}}
                            <div class="col-lg-1 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">Open</span>
                            </div>
                            {{else}}
                            <div class="col-lg-1 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-danger">Closed</span>
                            </div>
                            {{/if}}
                      
                            <input type="hidden" value="{{_id}}" name="id">
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end ">
                                <a href="/admin/editCareer?id={{_id}}" class="btn btn-sm font-sm rounded btn-brand me-1">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                {{#if isAvailable}}
                                <a onclick="unList('{{_id}}')" class="btn btn-sm font-sm btn-light rounded me-1">
                                     Unlist
                                </a>
                                {{else}}
                                <a href="/admin/openJob?id={{_id}}" class="btn btn-sm font-sm btn-light rounded me-1">
                                     List
                                </a>
                                
                                {{/if}}
                             
                                
                            </div>
                        </div> <!-- row .// -->
                    </article> 
                    {{/each}}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->

<script>
function deleteRecord(recordId) {
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this record!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            // User confirmed deletion, perform deletion logic
            window.location.href = "/admin/dltProduct?id=" + recordId;
        } else {
            // User cancelled deletion
            swal("Your record is safe!");
        }
    });
}

function unList(recordId) {
    swal({
        title: "Are you sure?",
        text: "Once Unlist, Users will not be able to purchase this Product!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            // User confirmed deletion, perform deletion logic
            window.location.href = "/admin/openJob?id=" + recordId;
        } else {
            // User cancelled deletion
            swal("Your record is safe!");
        }
    });
}



</script>
