
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p></p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                               
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                {{#each order}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td><b>{{userId.name}}</b></td>
                                        <td>{{userId.email}}</td>
                                    <td>${{products.totalPrice}}</td>
                                    {{#if (eq status "Confirm") }}
                                    <td><span class="badge rounded-pill alert-success">{{status}}</span></td>
                                    {{else}}
                                    <td><span class="badge rounded-pill alert-warning">{{status}}</span></td>

                                    {{/if}}
                                    <td>{{formatDate createdAt}}</td>
                                    <td class="text-end">
                                        <a href="/admin/viewOrder?id={{_id}}" class="btn btn-md rounded font-sm">Detail</a>
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
  