 <div class="card mb-4">
          
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Users</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Registered</th>
                                    <th class="text-end"> Action </th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                           
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title">{{name}}</h6>
                                                <small class="text-muted"></small>
                                            </div>
                                        </a>
                                    </td>
                                    <td>{{email}}</td>
                                    {{#if isVerified}}
                                    <td><span class="badge rounded-pill alert-success">Active</span></td>
                                    {{else}}
                                    <td><span class="badge rounded-pill alert-danger">Blocked</span></td>

                                    {{/if}}
                                    <td>{{formatDate registeredAt}}</td>
                                    
                                    {{#if isVerified}}
                                    <td class="text-end">
                                        <a onclick="deleteRecord('{{_id}}')" class="btn btn-danger rounded font-sm mt-15" style="width: 100px;">Block</a>
                                    </td>
                                    {{else }}

                                     <td class="text-end">
                                        <a href="/admin/blockUser?id={{_id}}" class="btn btn-success rounded font-sm mt-15" style="width: 100px; color: #fff;">Un Block</a>
                                    </td>

                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
           
           <script>
            function deleteRecord(recordId) {
    swal({
        title: "Are you sure?",
        text: "Once Blocked , The User cannot access the website !",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            // User confirmed deletion, perform deletion logic
            window.location.href = "/admin/blockUser?id=" + recordId;
        } else {
            // User cancelled deletion
            swal("Your record is safe!");
        }
    });
}
           </script>