    <div class="rbt-overlay-page-wrapper">
        <div class="breadcrumb-image-container breadcrumb-style-max-width">
            <div class="breadcrumb-content-top text-center">
                <ul class="meta-list justify-content-center mb--10">
                    <li class="list-item">
                        <div class="author-info">
                            <a href="#"><strong>{{post.author}}</strong></a> in <a href="#"><strong>Vidventures</strong></a>
                        </div>
                    </li>
                    
                </ul>
                <h1 class="title">{{post.heading}}</h1>
            </div>
        </div>

        <div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width">
            <div class="blog-content-wrapper rbt-article-content-wrapper">
                <div class="content">
                    <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                        <figure>
                            <img src="admin/assets/ProductImages/{{post.image}}" alt="Blog Images">
                            <figcaption style="font-style: italic;">{{post.caption}}</figcaption>
                        </figure>
                    </div>
                   {{#each split}}
                   <p>{{this}}</p>
                   {{/each}}        

                    <p>For more information , visit our <a href="#">Instagram</a>.</p>

                    <!-- Social Share Block  -->
                    <div class="social-share-block">
                       
                        <ul class="social-icon social-default transparent-with-border">
                             <li><a id="share-button" onclick="share()">
                                    <i class="bi bi-share"></i>
                                </a>
                            </li>
                            <li><a href="https://www.facebook.com/">
                                    <i class="feather-facebook"></i>
                                </a>
                            </li>
                            <li><a href="https://www.twitter.com">
                                    <i class="feather-twitter"></i>
                                </a>
                            </li>
                            <li><a href="https://www.instagram.com/">
                                    <i class="feather-instagram"></i>
                                </a>
                            </li>
                            <li><a href="https://www.linkdin.com/">
                                    <i class="feather-linkedin"></i>
                                </a>
                            </li>
                            
                        </ul>
                    </div>


                </div>
                <div class="related-post pt--60">
                    <div class="section-title text-start mb--40">
                        <span class="subtitle bg-primary-opacity">Related Post</span>
                        <h4 class="title">Similar Post</h4>
                    </div>

{{#each posts}}
                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover mt--30">
                        <div class="rbt-card-img">
                            <a href="/blogDetails/?id={{_id}}">
                                <img src="admin/assets/ProductImages/{{image}}" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><ahref="/blogDetails/?id={{_id}}">{{heading}}</ahref=>
                            </h5>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button"href="/blogDetails/?id={{_id}}">Read
                                    Article<i><svg width="17" height="12" xmlns="http://www.w3.org/2000/svg"><g stroke="#27374D" fill="none" fill-rule="evenodd"><path d="M10.614 0l5.629 5.629-5.63 5.629"/><path stroke-linecap="square" d="M.663 5.572h14.594"/></g></svg></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Card  -->
{{/each}}

                </div>
            </div>
        </div>
    </div>

<script>
    

function share (){
    console.log('hai')
    if (navigator.share) {
    navigator.share({
      title: 'Example Title',
      text: 'Check out this amazing content!',
      url: 'https://www.example.com'
    })
      .then(() => console.log('Successfully shared'))
      .catch((error) => console.log('Error sharing:', error));
  } else {
    console.log('Web Share API not supported.');
  }
}

</script>