<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            {{#each job}}
            <div class="col-lg-12 mt--30 cardonhover">
                <div class="profile-content rbt-shadow-box">
                    <h2 class="rbt-title-style-3 titletxt" style="border-bottom: 0;">{{title}}</h2>
                    <div class="row g-5">
                        <div class="col-lg-8 subtxt ">
                            <p class="mt--10 mb--20">{{subTitle}}</p>
                        </div>
                        <div class="col-lg-2 offset-lg-2">
                            <div class="feature-sin best-seller-badge text-end h-100">
                                <button class="trigger-button" data-modal-id="myModal{{@index}}">Apply now</button>

                                <!-- The modal -->
                                <div id="myModal{{@index}}" class="mymodal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <div class="btn">
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="modal-heading">
                                            <h2>{{title}}</h2>
                                            <h6>{{subTitle}}</h6>
                                        </div>
                                        <div class="modal-description">
                                            <h4>Job Description</h4>
                                            <p>
                                                {{description}}
                                            </p>
                                        </div>
                                        <div class="modal-req">
                                            <h4>Requirements</h4>
                                            <ul>
                                                {{#each requirements}}
                                                <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        <div class="apply-btn">
                                            <a href="{{link}}" target="_blank" class="btn btn-primary apply-btn trigger-button">Apply
                                                Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
<style>
    .subtxt {
        margin-top: 53px;
    }

    .rbt-shadow-box {
        padding: 57px !important;
        padding-left: 81px !important;
        padding-bottom: 35px !important;
    }

    .titletxt {
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -1px;
        position: absolute;
        font-size: 3rem;
        font-weight: 500
    }

    /* Styling for the modal */
    .mymodal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100vh !important;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        margin-top: 10rem !important;
        padding: 33px;
        border: 1px solid #888;
        width: 100%;
        max-width: 45%;
        text-align: start;
        padding: auto;
        border-radius: 10px;
    }

    .modal-heading {
        margin-bottom: 30px;
    }

    .modal-heading h2 {
        font-size: 4rem;
    font-weight: 500;
    }
    .modal-heading h6 {
        
    margin-top: -19px;
    margin-left: 7px;
    font-weight: 400;

    }

    .mymodal h4 {
        text-decoration: none;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.8rem;
        color:#0d6efd ;
    }

    .modal-description {
        margin-bottom: 20px;
    }
    .modal-description p {
        font-size: 16px;
    }

    .cardonhover:hover {

        border-color: #637fea !important;
        border: 1px solid;
    }
    .modal-req ul li {
        font-size: 16px;
    }

    @media (min-width: 300px) and (max-width: 480px) {
        .modal-content {
            max-width: 90%;
            top: 2px !important;
            overflow: auto;
        }

        .mymodal {
            overflow: auto;
        }

    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Styling for the button */
    .trigger-button {
        padding: 10px 20px;
        color: #0d6efd;
        border: rgb(255, 255, 255) 0.5px solid;
        cursor: pointer;
        border-radius: 7px;
        background-color: #cfdff7;

    }

    .trigger-button:hover {
        background-color: #0d6efd;
        color: white;
    }

    .apply-btn {
        padding: 13px 28px;
        font-size: 16px;
        margin-left: -12px;
    }
</style>


<script>
    // Get all trigger buttons
    var buttons = document.getElementsByClassName("trigger-button");

    // Get all modals
    var modals = document.getElementsByClassName("mymodal");

    // Function to open the modal
    function openModal() {
        var modalId = this.getAttribute("data-modal-id");
        var modal = document.getElementById(modalId);
        modal.style.display = "block";
    }

    // Function to close the modal
    function closeModal() {
        var modal = this.closest(".mymodal");
        modal.style.display = "none";
    }

    // Event listener for button click
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", openModal);
    }

    // Event listener for close button click
    var closeButtons = document.getElementsByClassName("close");
    for (var j = 0; j < closeButtons.length; j++) {
        closeButtons[j].addEventListener("click", closeModal);
    }
</script>