<!-- Start breadcrumb Area -->

<form action="/paymentPage" method="post">

    {{#if cartItem }}
    <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Cart</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <style>
        @media (min-width: 300px) and (max-width: 480px) {

            .cartitemcard td {
                border-bottom: 0 !important;
            }

            .cartitemcard {
                display: flex;
                position: relative;
                height: 11rem;
                overflow: hidden;
                border-bottom: 1px solid grey;

            }

            .cartitemcard .cartimg {
                width: 100px !important;
                margin-top: -10px;
                margin-left: -17px;

            }

            .cartitemcard .pro-thumbnail {
                width: 75px;
            }

            .cartitemcard .pro-thumbnail img {
                width: 81px;
            }

            .cartitemcard .pro-title {
                margin-left: -20rem !important;
                margin-top: 0rem;
            }

            .cartitemcard .pro-title a {
                font-size: 16px;
                font-family: 400;
            }

            .cartitemcard .pro-price {
                bottom: -6px;
                position: absolute;
                margin-left: 76px;
                /* font-size: 5rem !important; */
                border-bottom: 0;
            }

            .cartitemcard .pro-price span {
                font-size: 21px !important;
            }


            .cartitemcard .pro-quantity {
                bottom: -15px;
                position: absolute;
                margin-left: 16rem;
                border-bottom: 0;
            }

            .cartitemcard .pro-qty {
                border: none !important;
            }

            .cartitemcard .removebtn {
                position: absolute;
                bottom: -1px;
                left: 26.3rem;
                border-bottom: 0;
            }

            .cartitemcard .pro-remove {
                display: none;
            }

            .pro-quantity svg {
                border: 6px solid;
                /* font-size: 11px !important; */
                border-radius: 50%;
                background-color: lightgrey;
                border-color: lightgrey;
            }

            .pro-quantity .pro-qty input {
                width: 28px !important;
            }

            .pro-qty .plus-btn {
                margin-left: 0 !important;
            }

            .removebtn a {
                text-decoration: underline !important;
                font-size: 14px;
            }

            thead {
                display: none;
            }

            .rbt-section-gap {
                padding: 20px 0 !important;
            }

            .priceofsingle {
                display: none !important;
            }





        }
    </style>

    <div class="rbt-cart-area bg-color-white rbt-section-gap">
        <div class="cart_area">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <!-- Cart Table -->
                            <div class="cart-table table-responsive mb--60">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">Image</th>
                                            <th class="pro-title">Product</th>
                                            <th class="pro-price">Price</th>
                                            <th class="pro-quantity">Quantity</th>
                                            {{! <th class="pro-subtotal">Total</th> }}
                                            <th class="pro-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each cartItem}}
                                        <tr class="cartitemcard">
                                            <td class="pro-thumbnail"><a href="#"><img
                                                        src="admin/assets/ProductImages/{{productId.image}}"
                                                        alt="Product" class="cartimg" /></a></td>
                                            <td class="pro-title"><a href="#">{{productId.name}}</a></td>
                                            <td class="pro-price"><span>${{productId.discountedPrice}}</span></td>
                                            <td class="pro-quantity">
                                                <div class="pro-qty w-100">
                                                    <a class="minus-btn ms-2 me 3"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M19 12.998H5v-2h14z" />
                                                        </svg></a>

                                                    <input id="cartqty" class="qty-input " type="number" value="{{qty}}"
                                                        data-product-id="{{productId._id}}" min="1" readonly />
                                                    <a class="plus-btn ms-3 me-2"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24">
                                                            <path fill="currentColor"
                                                                d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6h-2Z" />
                                                        </svg></a>
                                                </div>
                                            </td>
                                            <td class="removebtn text-danger"><a class="text-danger"
                                                    href="/removeFromCart?id={{productId._id}}">Remove</a></td>
                                            <small class="text-danger" id="small"></small>
                                            <td style="display: none;" class="pro-remove"><a
                                                    href="/removeFromCart?id={{productId._id}}"><i
                                                        class="feather-x"></i></a></td>
                                        </tr>
                                        {{/each}}



                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <style>
                            .addmore {
                                border-collapse: collapse;
                                border: none;
                            }

                            .addmore td {

                                border: none;

                            }

                            .addmore tr {
                                justify-content: space-between;
                            }

                            .addmore tr td {
                                margin-top: 10px;
                            }

                            .addmore tr .pro-quantity {
                                margin-top: 0;
                            }

                            .checkbox-container {
                                display: inline-block;
                                position: relative;
                                padding-left: 30px;
                                margin-bottom: 15px;
                                cursor: pointer;
                                font-size: 18px;
                            }

                            .styled-checkbox {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                            }

                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 20px;
                                width: 20px;
                                background-color: #eee;
                            }

                            .styled-checkbox:checked+.checkmark {
                                background-color: blue;
                            }

                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            .styled-checkbox:checked+.checkmark:after {
                                display: block;
                            }

                            .checkmark:after {
                                left: 7px;
                                top: 3px;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }
                        </style>

                        <div class="row g-5">

                            <div class="col-lg-6 col-12">
                                <!-- Discount Coupon -->
                                <div class="discount-coupon edu-bg-shade cardheight">
                                    <div class="section-title text-start">
                                        <h4 class="title mb--30">Add More</h4>
                                    </div>
                                    <div class="addmoreitems">
                                        <table class="addmore">
                                            <thead>
                                                <tr>

                                                    <th></th>
                                                    <th style="position: absolute;margin-left: -5rem;margin-top: -2rem;"
                                                        id="addmoreTotalname">
                                                        Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="addmoreTable">
                                                <tr class="d-flex tableaddmore">
                                                    <td class="align-middle checkboxtd">
                                                        <label class="checkbox-container">
                                                            <input onchange="shortsOnChange()" name="shorts"
                                                                value="shorts" type="checkbox" class="styled-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>

                                                    </td>
                                                    <td class="pro-title yttd font-500"
                                                        style="color: #6b7385 !important;"><a href="#">Yt Shorts</a>
                                                    </td>
                                                    <td class="pro-quantity shtd">
                                                        <div class="pro-qty">
                                                            <a onclick="shortsminus()" class="minus-btn ms-2"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24">
                                                                    <path fill="currentColor" d="M19 12.998H5v-2h14z" />
                                                                </svg></a>
                                                            <input name="shortsQty" id="shorts" class="qty-input"
                                                                type="number" value="0" readonly />
                                                            <a onclick="shortsadd()" class="plus-btn ms-3 "><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24">
                                                                    <path fill="currentColor"
                                                                        d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6h-2Z" />
                                                                </svg></a>
                                                        </div>
                                                    </td>
                                                    <td class="priceofsingle shortssingleprice">$ 8</td>
                                                    <td id="shorts-total">$ 0</td>
                                                </tr>
                                                <tr class="d-flex tableaddmore">
                                                    <td class="align-middle checkboxtd checkch">
                                                        <label class="checkbox-container">
                                                            <input onchange="thumbnailonchange()" value="thumbnail"
                                                                name="thumbnail" type="checkbox"
                                                                class="styled-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td class="pro-title preminum font-500 yttd"
                                                        style="color: #6b7385 !important;"><a href="#">Premium <br>
                                                            Thumbnail</a></td>
                                                    <td class="pro-quantity thumbproqty shtd">
                                                        <div class="pro-qty">

                                                            <a id="Thumnailminus" onclick="Thumbnailminus()"
                                                                class="minus-btn ms-2"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24">
                                                                    <path fill="currentColor" d="M19 12.998H5v-2h14z" />
                                                                </svg></a>


                                                            <input name="thumbnailQty" id="thumb" class="qty-input"
                                                                type="number" value="0" readonly />


                                                            <a id="thumbnailpuls" onclick="Thumbnailadd()"
                                                                class="plus-btn ms-3 me-2"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24">
                                                                    <path fill="currentColor"
                                                                        d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6h-2Z" />
                                                                </svg></a>

                                                        </div>
                                                    </td>
                                                    <td class="priceofsingle priceofsingtumb">$5/per</td>
                                                    <td id="thumbtotal">$ 0</td>
                                                </tr>
                                                <tr class="d-flex ">
                                                    <td class="align-middle checkch ">
                                                        <label class="checkbox-container">
                                                            <input id="channelManagement"
                                                                onchange="channelManagementClick()"
                                                                name="channelManagement" value="channel" type="checkbox"
                                                                class="styled-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td class="pro-title channelmngmt font-500 yttd"
                                                        style="color: #6b7385 !important;"><a href="#">Channel
                                                            Management</a></td>
                                                    <td class="pro-quantity"></td>
                                                    <td class="hidemb"></td>
                                                    <td class="hidembmon">1 Month</td>
                                                    <td class="hidemb"></td>
                                                    <td class="channelmanagementTotalprice">$ 150 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{!-- <form action="#">
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb--25">
                                                <input type="text" placeholder="Coupon Code">
                                            </div>
                                            <div class="col-md-6 col-12 mb--25">
                                                <button class="rbt-btn btn-gradient hover-icon-reverse btn-sm">
                                                    <span class="icon-reverse-wrapper">
                                                        <span class="btn-text">Apply Code</span>
                                                        <span class="btn-icon"><i
                                                                class="feather-arrow-right"></i></span>
                                                        <span clcheckchass="btn-icon"><i
                                                                class="feather-arrow-right"></i></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form> --}}
                                </div>
                            </div>
                            <!-- Cart Summary -->

                            <div class="col-lg-5 offset-lg-1 col-12">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <div class="section-title text-start">
                                            <h4 class="title mb--30">Cart Summary</h4>
                                        </div>
                                        <p>Add on <span> <span id="addon">0</span></span> </p>
                                        <p>Sub Total <span class="subtotal">{{totalPrice}}</span></p>
                                        {{! <p>Shipping Cost <span>$00.00</span></p> }}
                                        <h2>Grand Total <span class="grandTotal">{{totalPrice}}</span></h2>
                                    </div>

                                    <div class="cart-submit-btn-group">
                                        <div class="single-button w-100">


                                            <button type="submit"
                                                class="rbt-btn btn-gradient rbt-switch-btn rbt-switch-y w-100">
                                                <span data-text="Checkout">Checkout</span>
                                            </button>



                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0" />
        </div>
    </div>

    {{else}}
    <div style="display: grid; place-items: center; height: 100vh; margin-top: -50px;">
        <img style="width: 30rem;"
            src="https://dduwxf.stripocdn.email/content/guids/CABINET_1751644d26c5b4ff136779ae1d3a2e40972d57d09ab6be4010954bd6591cbf64/images/108_copy.png"
            alt="" srcset="">
        <h2 style="position: absolute; margin-top: 10rem;">OOPS ! <span>Currently your cart is empty</span></h2>
        <p style="margin-top: 10rem;">Browse our collection of automation tools to find the perfect fit for your needs.
            Get started by clicking the "Shop Now" button below.</p>
        <a class="btn btn-lg btn-primary"
            style=" border-radius: 10px; margin-top: -10rem; padding: 10px; height: 40px; width: 100px;" role="button"
            href="/shop">Shop Now</a>

    </div>

    {{/if}}

</form>

<style>
    #addmoreTable tr {

        flex-direction: row;
        position: relative;

    }

    #addmoreTable tr .pro-title {
        color: #6b7385 !important;
        position: absolute;
        margin-left: 38px;
        margin-top: 11px;
    }

    #addmoreTable tr .pro-qty {
        margin-left: 1rem;
    }

    #addmoreTable tr .pro-quantity {
        margin-top: 0;
        margin-left: 125px !important;
    }

    #addmoreTable tr #shorts-total {
        position: relative;
    }

    .thumbproqty {
        margin-left: -18px !important
    }






    @media (min-width: 300px) and (max-width: 480px) {


        .addmoreitems #addmoreTotalname {
            display: none;
        }

        #addmoreTable tr {
            border-bottom: 1px solid;
        }

        #addmoreTable .checkboxtd {
            margin-top: 13px;
        }

        #addmoreTable .yttd {
            font-size: 15px;
            margin-top: 14px;

        }

        .tableaddmore .shtd {
            position: absolute;
            margin-left: 104px !important;
        }

        .tableaddmore .pro-qty {
            border: 0;
        }

        .shortssingleprice {
            position: absolute;
            margin-left: 10rem;
            margin-top: 14px !important;
        }

        #shorts-total {
            position: absolute !important;
            margin-left: 23rem;
            margin-top: 14px !important;
        }

        .addmore tr {
            justify-content: start;
        }

        .thumbproqty {
            margin-top: 10px !important;
        }

        #thumbtotal {
            position: absolute !important;
            margin-left: 23rem;
            margin-top: 22px !important;
        }

        .priceofsingtumb {
            margin-left: -15px;
            margin-top: 22px !important;
        }

        .channelmanagementTotalprice {
            position: absolute !important;
            margin-left: 22rem;
            margin-top: 22px !important;
        }

        .checkch {
            margin-top: 22px !important;
        }

        .hidembmon {
            display: none !important;

        }
    }

    .hidembmon {
        margin-left: 19rem;
    }
</style>
<!-- Latest version of jQuery -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- Specific version of jQuery (e.g. 3.6.0) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Get all the quantity input fields and plus/minus buttons
    const qtyInputs = document.querySelectorAll('.qty-input');
    const minusBtns = document.querySelectorAll('.minus-btn');
    const plusBtns = document.querySelectorAll('.plus-btn');
    let grandTotal = 0;
    let CartTotal = 0;
    let addOnTotalTag = document.querySelector('#addon')

    let addOnTotal = 0;


    // Loop through each input field and add event listeners to the corresponding plus/minus buttons
    qtyInputs.forEach((qtyInput, index) => {
        const minusBtn = minusBtns[index];
        const plusBtn = plusBtns[index];

        // Decrease the value when the minus button is clicked
        minusBtn.addEventListener('click', () => {
            if (qtyInput.value > 1) {
                qtyInput.value--;
                const productId = qtyInput.getAttribute('data-product-id');
                const newQuantity = qtyInput.value;
                if (productId) {
                    updateCartItem(productId, newQuantity);
                }

            }
        });

        // Increase the value when the plus button is clicked
        plusBtn.addEventListener('click', () => {
            qtyInput.value++;
            const productId = qtyInput.getAttribute('data-product-id');
            const newQuantity = qtyInput.value;
            if (productId) {
                updateCartItem(productId, newQuantity);
            }
        });
    });

    // Function to update the quantity using AJAX
    function updateQuantity(productId, quantity) {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/updateQuantity');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                console.log(response.message);
            } else {
                console.error('There was a problem with the AJAX request.');
            }
        };
        xhr.send(JSON.stringify({ productId, quantity }));
    }

    let newPrice = 0;

    function updateCartItem(productId, qty) {
        $.ajax({
            url: '/updateQuantity',
            type: 'POST',
            data: { productId: productId, qty: qty },
            success: function (data) {
                // update subtotal and  grand total
                console.log(data);
                const productPrice = data.productPrice;
                newPrice = productPrice * qty;
                CartTotal += newPrice;
                $('#price').text(CartTotal);
                $('.subtotal').text(data.subtotal);
                // $('#totalart').text(data.grandTotal); 
                grandTotalPrice()
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    // addon 

    let addonTag = document.querySelector('#addon')

    function shortsadd() {
        const checkbox = document.querySelector('input[name="shorts"]');
        const inputvalue = document.getElementById('shorts').value;
        const total = document.getElementById('shorts-total');
        const value = parseInt(inputvalue) + 1;

        const totalPrice = 8 * value;
        total.innerHTML = totalPrice;
        checkbox.checked = true;
        addOnTotal += 8;
        addonTag.innerHTML = addOnTotal
        grandTotalPrice()
    }

    let shortsclicked = 0;

    function shortsminus() {
        const checkbox = document.querySelector('input[name="shorts"]');
        const input = document.getElementById('shorts')
        const inputvalue = document.getElementById('shorts').value;
        const total = document.getElementById('shorts-total');
        const newvalue = parseInt(inputvalue) - 1;


        if (newvalue > 1) {
            shortsclicked = 0;
            const totalPrice = 8 * newvalue;
            total.innerHTML = totalPrice;
            addOnTotal -= 8; // Subtract 8 from addOnTotal
            addonTag.innerHTML = addOnTotal
            checkbox.checked = true;

        } else {
            console.log(shortsclicked, 'shortsclicked')
            if (shortsclicked == 1) {
                totalPrice = 0;
                addOnTotal -= 8; // Subtract 8 from addOnTotal
                total.innerHTML = 0;
                addonTag.innerHTML = addOnTotal
                input.value = 0
                checkbox.checked = false;
                console.log('zero')
                shortsclicked++

            } else if (shortsclicked == 0) {
                shortsclicked++
                console.log(shortsclicked, 'shortsclicked')
                totalPrice = 8;
                addOnTotal -= 8; // Subtract 8 from addOnTotal
                total.innerHTML = 8;
                addonTag.innerHTML = addOnTotal
                console.log('notzero')

            }


        }
        grandTotalPrice()
    }


    function Thumbnailadd() {
        const checkbox = document.querySelector('input[name="thumbnail"]');
        const inputvalue = document.getElementById('thumb').value;
        const total = document.getElementById('thumbtotal');
        const value = parseInt(inputvalue) + 1;

        checkbox.checked = true;

        const totalPrice = 5 * value;


        total.innerHTML = totalPrice;

        addOnTotal += 5;
        addonTag.innerHTML = addOnTotal
        grandTotalPrice()
    }



    let thumnailclick = 0;

    function Thumbnailminus() {
        const checkbox = document.querySelector('input[name="thumbnail"]');
        const inputvalue = document.getElementById('thumb').value;
        const total = document.getElementById('thumbtotal');
        const input = document.getElementById('thumb')
        const newvalue = parseInt(inputvalue) - 1;

        if (newvalue > 1) {
            thumnailclick = 0;
            const totalPrice = 5 * newvalue;
            total.innerHTML = totalPrice;
            addOnTotal -= 5;
            addonTag.innerHTML = addOnTotal
            thumnailclick = 0
        } else {

            if (thumnailclick == 1) {

                total.innerHTML = 0;
                addOnTotal -= 5;
                addonTag.innerHTML = addOnTotal
                input.value = 0
                checkbox.checked = false;
                console.log('1')
                thumnailclick++;
            } else if (thumnailclick == 0) {
                thumnailclick++;
                total.innerHTML = 5;
                addOnTotal -= 5;
                addonTag.innerHTML = addOnTotal
                console.log('2')
            }

        }
        grandTotalPrice()

    }

    function channelManagementClick() {
        const checkbox = document.querySelector('input[name="channelManagement"]');
        const checkboxValue = 150

        if (checkbox.checked) {
            // Set the total value to the checkbox value
            addOnTotal += 150; // Add checkbox value to addOnTotal
        } else {
            // Clear the total value
            addOnTotal -= checkboxValue; // Subtract checkbox value from addOnTotal
        }

        addonTag.innerHTML = addOnTotal; // Update the addon total
        grandTotalPrice()
    }

    function thumbnailonchange() {
        const checkbox = document.querySelector('input[name="thumbnail"]');
        const inputvalue = document.getElementById('thumb').value;
        const input = document.getElementById('thumb')
        const total = document.getElementById('thumbtotal');
        const value = parseInt(inputvalue) + 1;
        if (checkbox.checked) {
            input.value = 1;
            const totalPrice = 5 * 1;
            total.innerHTML = totalPrice;
            addOnTotal += 5;
            addonTag.innerHTML = addOnTotal
            grandTotalPrice()

        } else {
            const minusprice = inputvalue * 5
            input.value = 0;
            const totalPrice = 0;
            total.innerHTML = totalPrice;
            addOnTotal -= minusprice;
            addonTag.innerHTML = addOnTotal
            grandTotalPrice()
        }

        

    }

    function shortsOnChange() {

        const checkbox = document.querySelector('input[name="shorts"]');
        const inputvalue = document.getElementById('shorts').value;
        const input = document.getElementById('shorts')
        const total = document.getElementById('shorts-total');
        const value = parseInt(inputvalue) + 1;

        console.log(checkbox.checked)

        if (checkbox.checked) {
            input.value = 1
            const totalPrice = 8 * 1;
            total.innerHTML = totalPrice;
            addOnTotal += 8;
            addonTag.innerHTML = addOnTotal
           
            grandTotalPrice()
        } else {
            const minusprice = (value * 8) - 8
            console.log(minusprice)
            input.value = 0
            const totalPrice = 0;
            total.innerHTML = totalPrice;
            console.log('else')
            addOnTotal -= minusprice;
            addonTag.innerHTML = addOnTotal
            grandTotalPrice()
        }

        

    }

    function grandTotalPrice() {
        const total = document.querySelector('.grandTotal');
        const totalPriceElement = document.querySelector('.subtotal');
        const totalPrice = parseFloat(totalPriceElement.textContent);
        console.log(totalPriceElement)
        const grandTotal = totalPrice + addOnTotal;
        total.textContent = grandTotal.toFixed(2);
    }
    grandTotalPrice()

</script>



{{!-- TODO plus and minus has be shown in the cart total section --}}