<style>
    #newbtn {
        text-decoration: none;
        position: relative;
        border: none;
        font-size: 14px;
        font-family: inherit;
        color: #fff;
        width: 9em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
    }

    #newbtn:hover {
        animation: ani 8s linear infinite;
        border: none;
    }

    @keyframes ani {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 400%;
        }
    }

    #newbtn:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
    }

    #newbtn:hover::before {
        filter: blur(20px);
    }

    #newbtn:active {
        background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    }

    h1 {
        color: #233142;
        font-weight: lighter;
    }

    .ani h1:not(:first-child) {
        opacity: 0;
    }


    .ani h1 {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .ani h1.show {
        opacity: 1;
    }

    .ani {
        position: relative;
        height: 50px;
        /* Set the height of the container */
    }

    .ani h1 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

    }

    .input {
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        background: #e8e8e8;
        box-shadow: 20px 20px 60px #c5c5c5,
            -20px -20px 60px #ffffff;
        transition: 0.3s;
    }

    .input:focus {
        outline-color: #e8e8e8;
        background: #e8e8e8;
        box-shadow: inset 20px 20px 60px #c5c5c5,
            inset -20px -20px 60px #ffffff;
        transition: 0.3s;
    }

    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgb(151, 151, 151) !important;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgb(151, 151, 151) !important;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: rgb(151, 151, 151) !important;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: rgb(151, 151, 151) !important;
    }


    .btn-conteiner {
        display: flex;
        justify-content: center;
        --color-text: #ffffff;
        --color-background: #0d6efd;
        --color-outline: #ff145b80;
        --color-shadow: #00000080;
    }

    .btn-content {
        display: flex;
        align-items: center;
        padding: 3px 20px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: var(--color-text);
        background: var(--color-background);
        transition: 1s;
        border-radius: 100px;
        box-shadow: 0 0 0.2em 0 var(--color-background);
    }

    .btn-content:hover,
    .btn-content:focus {
        transition: 0.5s;
        -webkit-animation: btn-content 1s;
        animation: btn-content 1s;
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
        box-shadow: 0 0 0.4em 0 var(--color-background);
    }

    .btn-content .icon-arrow {
        transition: 0.5s;
        margin-right: 0px;
        transform: scale(0.6);
    }

    .btn-content:hover .icon-arrow {
        transition: 0.5s;
        margin-right: 25px;
    }

    .icon-arrow {
        width: 20px;
        margin-left: 15px;
        position: relative;
        top: 6%;
    }

    /* SVG */
    #arrow-icon-one {
        transition: 0.4s;
        transform: translateX(-60%);
    }

    #arrow-icon-two {
        transition: 0.5s;
        transform: translateX(-30%);
    }

    .btn-content:hover #arrow-icon-three {
        animation: color_anim 1s infinite 0.2s;
    }

    .btn-content:hover #arrow-icon-one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
    }

    .btn-content:hover #arrow-icon-two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
    }

    /* SVG animations */
    @keyframes color_anim {
        0% {
            fill: white;
        }

        50% {
            fill: var(--color-background);
        }

        100% {
            fill: white;
        }
    }

    /* Button animations */
    @-webkit-keyframes btn-content {
        0% {
            outline: 0.2em solid var(--color-background);
            outline-offset: 0;
        }
    }

    @keyframes btn-content {
        0% {
            outline: 0.2em solid var(--color-background);
            outline-offset: 0;
        }
    }

    .btn-content-final {
        display: flex;
        align-items: center;
        padding: 3px 20px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: var(--color-text);
        background: #198754;
        transition: 1s;
        border-radius: 100px;
        box-shadow: 0 0 0.2em 0 #198754;
    }

    .btn-content-final:hover,
    .btn-content-final:focus {
        transition: 0.5s;
        -webkit-animation: btn-content 1s;
        animation: btn-content 1s;
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
        box-shadow: 0 0 0.4em 0 #198754;
    }

    /* Button animations */
    @-webkit-keyframes btn-content-final {
        0% {
            outline: 0.2em solid #198754;
            outline-offset: 0;
        }
    }

    @keyframes btn-content-final {
        0% {
            outline: 0.2em solid #198754;
            outline-offset: 0;
        }
    }
</style>

<a class="close_side_menu" href="javascript:void(0);"></a>

<main class="rbt-main-wrapper mt-5">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content d-flex justify-content-center">
                        <div class="inner mb-5">
                            {{!-- <div class="rbt-new-badge rbt-new-badge-one">
                                <span class="rbt-new-badge-icon">🏆</span> Your YouTube Automation Team
                            </div> --}}

                            <div class="mb-5">

                                <span style="position: absolute; margin-left: -30px;">
                                    <h1 style="color: red; font-family: 'Poppins', sans-serif;">|</h1>
                                </span>
                                <h1 class="" style="font-family: 'Poppins', sans-serif; font-size: 52px;">
                                    We're a global content creation agency
                                    <br>
                                    curating videos that enables you
                                    <br>
                                    <div class="ani" style="">
                                        <h1 class=""
                                            style="color: red; font-size: 50px; font-family: 'Poppins', sans-serif;">
                                            Financial Freedom</h1>
                                        <h1 class=""
                                            style="color: red; font-size: 50px; font-family: 'Poppins', sans-serif;">
                                            Location Freedom</h1>
                                        <h1 class=""
                                            style="color: red; font-size: 50px; font-family: 'Poppins', sans-serif;">
                                            Time Freedom</h1>
                                    </div>
                                </h1>

                            </div>
                            <div class="video-container mt-5 ">
                                <video autoplay loop muted style="margin-top: 100px;">
                                    <source src="user/assets/video/WebsiteVideo.mp4" type="video/mp4">
                                </video>
                            </div>
                            <p class="description lh-base">

                            </p>

                        </div>
                        {{!-- <div class="shape-wrapper" id="scene">



                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

    {{!-- modal --}}
    <form action="/getData" method="post">

        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body w-100" style="  display: grid;
                           place-items: center;">
                        <p style="font-size: 52px;color: black;">I want to make video and visual <br> content for
                        </p>
                        <div class="form-group ms-5" style="position: absolute; margin-top: 79px;">
                            <input placeholder="Business Man"
                                style="padding-bottom: 23px; font-size: 52px; position: relative; color: #0578B4;margin-left: 109px;"
                                size="8" name="email" type="text" />
                            {{!-- <span class="focus-border"></span> --}}
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <div class="btn-conteiner mt-5">
                            <a class="btn-content" class="btn btn-lg btn-primary mt-5"
                                data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="btn-title">NEXT</span>
                                <span class="icon-arrow">
                                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path id="arrow-icon-one"
                                                d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-two"
                                                d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-three"
                                                d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body w-100" style="  display: grid;
                           place-items: center;">
                        <p style="font-size: 52px;color: black;"> 2I want to make video and visual <br> content for
                        </p>
                        <div class="form-group ms-5" style="position: absolute; margin-top: 79px;">
                            <input placeholder="Business Man"
                                style="padding-bottom: 23px; font-size: 52px; position: relative; color: #0578B4;margin-left: 109px;"
                                size="8" name="email" type="text" />
                            {{!-- <span class="focus-border"></span> --}}
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <div class="btn-conteiner mt-5">
                            <a class="btn-content" class="btn btn-lg btn-primary mt-5"
                                data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="btn-title">NEXT</span>
                                <span class="icon-arrow">
                                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path id="arrow-icon-one"
                                                d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-two"
                                                d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-three"
                                                d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body w-100" style="  display: grid;
                           place-items: center;">
                        <p style="font-size: 52px;color: black;"> 3I want to make video and visual <br> content for
                        </p>
                        <div class="form-group ms-5" style="position: absolute; margin-top: 79px;">
                            <input placeholder="Business Man"
                                style="padding-bottom: 23px; font-size: 52px; position: relative; color: #0578B4;margin-left: 109px;"
                                size="8" name="email" type="text" />
                            {{!-- <span class="focus-border"></span> --}}
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <div class="btn-conteiner mt-5">
                            <a class="btn-content" class="btn btn-lg btn-primary mt-5"
                                data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="btn-title">NEXT</span>
                                <span class="icon-arrow">
                                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path id="arrow-icon-one"
                                                d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-two"
                                                d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                            <path id="arrow-icon-three"
                                                d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                                fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body w-100" style="display: block ruby;">
                        <p style="font-size: 52px;color: black;">May I help you? </p>
                        <div class="form-group ms-5">
                            <input placeholder="vidventures.yt@gmail.com" maxlength="20"
                                style="padding-bottom: 30px; font-size: 52px; position: relative; color: #0578B4;"
                                size="20" name="email" type="text" />
                            {{!-- <span class="focus-border"></span> --}}
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <div class="btn-conteiner mt-5">
                            <button class="btn-content-final" class="btn btn-lg btn-primary mt-5">
                                <span class="btn-title">Submit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


    {{!-- modal --}}

    {{!-- counter --}}

    <div class="rbt-counterup-area bg-color-extra2 rbt-section-gap">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="inner pl--50 pl_sm--0 pl_md--0">
                            <div class="section-title text-start">
                                <span class="subtitle bg-pink-opacity">Why Choose Us</span>
                                <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                                <p class="description has-medium-font-size mt--20 mb--0">There are many variations of
                                    passages of the Ipsum available, but the majority have suffered alteration in some
                                    form, by injected humour.</p>
                            </div>
                            <div class="read-more-btn mt--40">
                                <a class="rbt-btn hover-icon-reverse" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text">More About Us</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-5">
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <span class="subtitle">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                            </h3>
                                            <span class="subtitle">Courses & Video</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- coumter --}}



    <!-- Start About Area  -->
    <div class="rbt-about-area bg-color-white rbt-section-gapTop pb_md--80 pb_sm--80 about-style-1">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="admin/assets/imgs/logo/01_analystics.png"
                                alt="Youtube_revenuve">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="admin/assets/imgs/logo/Result_3_cufn0g.png"
                                alt="Youtube Automation">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="admin/assets/imgs/logo/Result png.png"
                                alt="Youtube Cashcow">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            {{!-- <span class="subtitle bg-coral-opacity">Why YouTube Automation</span> --}}
                            <h2 class="title">Why <strong style="color: red;">Vidventures</strong> </h2>
                        </div>

                        <p class="description mt--30">We bring valuable experience to the table. Our team has honed the
                            skills and knowledge through countless projects, ensuring that we understand the intricacies
                            of cashcow content creation.</p>

                        <!-- Start Feature List  -->

                        <div class="rbt-feature-wrapper mt--20 ml_dec_20">
                            <div class="rbt-feature feature-style-2 rbt-radius">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-heart"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Flexibility</h6>
                                    <p class="feature-description">YouTube automation allows you to work from anywhere,
                                        anytime. You can manage your channel from the comfort of your home or while
                                        traveling, giving you the freedom and flexibility to pursue your other passions
                                        and goals</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-2 rbt-radius">
                                <div class="icon bg-primary-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Low-risk investment</h6>
                                    <p class="feature-description">Compared to other business models, YouTube automation
                                        offers a low-risk, high-reward investment opportunity that is hard to beat. You
                                        can start small and scale up as you see results.</p>
                                </div>
                            </div>
                        </div>

                        <!-- End Feature List  -->
                        <div class="about-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="/Looks_like_the_page_is_on_vacation.It_left_no_forwarding_address.">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">More About Us</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Call To Action  -->
    <div class="rbt-callto-action-area bg-color-extra2 rbt-section-gap">
        <div class="rbt-callto-action rbt-cta-default style-2">
            <div class="container content-wrapper overflow-hidden">
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-8">
                        <div class="inner">
                            <div class="content text-left">
                                <h3 class="title" data-sal="slide-up" data-sal-duration="400" data-sal-delay="200">
                                    Looking to connect with your dedicated <br> content creation team?</h3>
                                <h6 class="subtitle" data-sal="slide-up" data-sal-duration="400" data-sal-delay="300">
                                    Schedule a call with our expert team today &#128521;</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="call-to-btn text-start text-lg-end position-relative" data-sal="slide-up"
                            data-sal-duration="400" data-sal-delay="400">
                            <a class="rbt-btn rbt-switch-btn rbt-switch-y" href="https://wa.link/cac4zv">
                                <span data-text="Book a call">Book a call</span>
                            </a>
                            <div class="shape-text-image">
                                <img class="rbt-rotatation-round" src="admin/assets/imgs/logo/Website.png"
                                    alt="Education Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Call To Action  -->

    
    {{!-- testimonials --}}
    <div class="rbt-testimonial-area bg-color-extra2 rbt-section-gap overflow-hidden">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-primary-opacity">EDUCATION FOR EVERYONE</span>
                            <h2 class="title">People like histudy education. <br /> No joking - here’s the proof!</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-animation-wrapper mt--50">
            <div class="scroll-animation scroll-right-left">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado</h5>
                                    <span>Executive Chairman <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-02.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Michael D. Lovelady</h5>
                                    <span>CEO <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Histudy education, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-03.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Valerie J. Creasman</h5>
                                    <span>Executive Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Our educational, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-04.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Hannah R. Sutton</h5>
                                    <span>Executive Chairman <i>@ Facebook</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">People says about, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-05.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Pearl B. Hill</h5>
                                    <span>Chairman SR <i>@ Facebook</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-06.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mandy F. Wood</h5>
                                    <span>SR Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-07.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mildred W. Diaz</h5>
                                    <span>Executive Officer <i>@ Yelp</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-08.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Christopher H. Win</h5>
                                    <span>Product Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado</h5>
                                    <span>Executive Chairman <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>

        <div class="scroll-animation-wrapper mt--30">
            <div class="scroll-animation scroll-left-right">

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado</h5>
                                    <span>Executive Chairman <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-02.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Michael D. Lovelady</h5>
                                    <span>CEO <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Histudy education, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-03.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Valerie J. Creasman</h5>
                                    <span>Executive Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Our educational, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-04.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Hannah R. Sutton</h5>
                                    <span>Executive Chairman <i>@ Facebook</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">People says about, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-05.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Pearl B. Hill</h5>
                                    <span>Chairman SR <i>@ Facebook</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-06.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mandy F. Wood</h5>
                                    <span>SR Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-07.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mildred W. Diaz</h5>
                                    <span>Executive Officer <i>@ Yelp</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-08.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Christopher H. Win</h5>
                                    <span>Product Designer <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="assets/images/testimonial/client-01.png" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado</h5>
                                    <span>Executive Chairman <i>@ Google</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                    auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                                <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
            </div>
        </div>
    </div>

    {{!-- testimonials --}}



    <!-- Start Blog Style -->
    <div class="rbt-rbt-blog-area rbt-section-gap bg-color-extra2">
        <div class="container">
            <div class="row g-5 align-items-center mb--30">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title">
                        <span class="subtitle bg-pink-opacity">Blog Post</span>
                        <h2 class="title">Post Popular Post.</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="read-more-btn text-start text-md-end">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="/Looks_like_the_page_is_on_vacation.It_left_no_forwarding_address.">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">See All Articles</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row row--15">
                <!-- Start Single Card  -->
                {{#each post}}
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    <div class="rbt-card variation-02 height-330 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="{{link}}">
                                <img src="assets/ProductImages/{{image}}" alt="">
                        </div>
                        <div class="rbt-card-body">
                            <h3 class="rbt-card-title"><a href="{{link}}">{{name}}</a></h3>
                            {{!-- <p class="rbt-card-text">It is a long established fact that a reader.</p> --}}
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="{{link}}">Learn More<i><svg width="17" height="12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                            </g>
                                        </svg></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <!-- End Single Card  -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30" data-sal-delay="150" data-sal="slide-up"
                    data-sal-duration="800">
                    {{#each posts}}
                    <!-- Start Single Card  -->
                    <div class="rbt-card card-list variation-02 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="{{link}}">
                                <img src="assets/ProductImages/{{image}}" alt="Card image"> </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="{{link}}">{{name}}</a></h5>
                            <div class="rbt-card-bottom">
                                <a class="transparent-button" href="{{link}}">Read Article<i><svg width="17" height="12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="#27374D" fill="none" fill-rule="evenodd">
                                                <path d="M10.614 0l5.629 5.629-5.63 5.629" />
                                                <path stroke-linecap="square" d="M.663 5.572h14.594" />
                                            </g>
                                        </svg></i></a>
                            </div>
                        </div>
                    </div>

                    <br>
                    <!-- End Single Card  -->
                    {{/each}}

                </div>
            </div>
            <!-- End Card Area -->
        </div>
    </div>
    <!-- End Blog Style -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        //! header animation

        document.addEventListener('contextmenu', event => event.preventDefault());
        // Get all the spans
        const spans = document.querySelectorAll('.ani h1');
        // Loop through the spans and add a class to show them one by one
        let i = 0;
        const showNextSpan = () => {
            // Remove the show class from all the spans
            spans.forEach(span => {
                span.classList.remove('show');
            });

            // Add the show class to the current span after a delay
            setTimeout(() => {
                spans[i].classList.add('show');
                i++;

                if (i >= spans.length) { // Check if i has reached the end of the array
                    i = 0; // Reset i to 0 if it has
                }

                setTimeout(showNextSpan, 1200); // Use a delay of 3000ms (2s fade-out + 1s delay)
            }, 1000); // Use a delay of 1000ms (1s delay)
        }


        // Call the function to start the animation
        showNextSpan();



        //!tiggeering the modal window

     //   var modalTriggered = false;
     //   $(window).scroll(function () {
     //       var scrollPosition = $(window).scrollTop();
     //       var triggerPosition = 1152/* Specify the position at which you want to trigger the modal */;
//
     //       if (!modalTriggered) {
     //           if (scrollPosition >= triggerPosition) {
      //              $('#exampleModalToggle').modal('show');
     //               modalTriggered = true;
     //           }
     //       }
//
     //   });

        // !modal data sending ajax request

        const form = document.getElementById('myForm');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            // Create an XMLHttpRequest object
            const xhr = new XMLHttpRequest();

            // Configure the request
            xhr.open('POST', '/submit');
            xhr.setRequestHeader('Content-Type', 'application/json');

            // Set up the callback function when the request is complete
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Show a popup message to the user
                    alert('Thank you for your submission!');
                } else {
                    console.error('Error:', xhr.status);
                }
            };

            // Get the form data and send it as JSON
            const formData = new FormData(form);
            const jsonData = {};

            for (let entry of formData.entries()) {
                jsonData[entry[0]] = entry[1];
            }

            xhr.send(JSON.stringify(jsonData));
        });



    </script>