<a class="close_side_menu" href="javascript:void(0);"></a>

<main class="rbt-main-wrapper mt-5">
    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-1">
        <div class="container-fluid front_main">
            <div class="row">
                <div class="col-md-12 pb--120 pt--70">
                    <div class="content d-flex justify-content-center">
                        <div class="inner mb-5">
                            <div class="mb-5">
                                <span class="head_line">
                                    <h1 style="color: red; font-family: 'Poppins', sans-serif;">|</h1>
                                </span>
                                <h1 class="main_head" style="font-family: 'Poppins', sans-serif; ">
                                    We're a global content creation agency
                                    <br>
                                    curating videos that enables you
                                    <br>
                                    <div class="ani">
                                        <h1>
                                            Financial Freedom</h1>
                                        <h1>
                                            Location Freedom</h1>
                                        <h1>
                                            Time Freedom</h1>
                                    </div>
                                </h1>

                            </div>
                            <div class="video-container mt-5 ">
                                <video id="myVideo" autoplay loop muted playsinline>
                                    <source src="user/assets/video/WebsiteVideo.mp4" type="video/mp4">
                                </video>
                            </div>

                        </div>
                        {{!-- <div class="shape-wrapper" id="scene">



                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

    {{!-- counter mobile--}}

    <div class="rbt-counterup-area mobile_counter">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="inner pl--50 pl_sm--0 pl_md--0 mobile_none ">
                            <div class="section-title text-start">
                                <span class="subtitle bg-pink-opacity">Why Choose Us</span>
                                <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                                <p class="description has-medium-font-size mt--20 mb--0">There are many variations of
                                    passages of the Ipsum available, but the majority have suffered alteration in some
                                    form, by injected humour.</p>
                            </div>
                            <div class="read-more-btn mt--40">
                                <a class="rbt-btn hover-icon-reverse" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text">More About Us</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-5">


                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="5000">00</span>
                                            </h3>
                                            <span class="subtitle">Videos Delivered</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <span class="subtitle">Happy Customers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="2">00</span>
                                                <span>M</span>
                                            </h3>
                                            <span class="subtitle">Revenue Generated from YT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="rbt-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="150">00</span>
                                            </h3>
                                            <span class="subtitle">Professionals on Board</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- coumter mobile--}}

    {{!-- counter-windows --}}
    <div class="rbt-counterup-area  windows_counter" style="margin-top: -87px; margin-bottom: 0;">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5">
                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="rbt-counterup style-2">
                            <div class="inner">
                                <div class="content" style="display: block;">
                                    <h3 class="counter"><span class="odometer" data-count="5000">00</span>
                                    </h3>
                                    <span class="subtitle">Videos Delivered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="rbt-counterup style-2">
                            <div class="inner">
                                <div class="content" style="display: block;">
                                    <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                    </h3>
                                    <span class="subtitle">Happy Customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="rbt-counterup style-2">
                            <div class="inner">
                                <div class="content" style="display: block;">
                                    <h3 class="counter"><span class="odometer" data-count="3">M</span> <span>M</span>
                                    </h3>
                                    <span class="subtitle">Revenue Generated from YT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="rbt-counterup style-2">
                            <div class="inner">
                                <div class="content" style="display: block;">
                                    <h3 class="counter"><span class="odometer" data-count="150">00</span>
                                    </h3>
                                    <span class="subtitle">Professionals on Board</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->
                </div>
            </div>
        </div>
    </div>
    {{!-- counter-windows --}}



    <!-- Start About Area  -->
    <div class="rbt-about-area bg-color-white rbt-section-gapTop pb_md--80 pb_sm--80 about-style-1"
        style="margin-top: -68px;">
        <div class="container" id="whyus" style="padding-left: 44px;">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="admin/assets/imgs/logo/01_analystics.png"
                                alt="Youtube_revenuve">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="admin/assets/imgs/logo/Result_3_cufn0g.png"
                                alt="Youtube Automation">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="admin/assets/imgs/logo/Result png.png"
                                alt="Youtube Cashcow">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            {{!-- <span class="subtitle bg-coral-opacity">Why YouTube Automation</span> --}}
                            <h2 class="title ">Why <span style="color: red;">Vidventures</span> </h2>
                        </div>

                        <p class="feature-description " style="margin-top: 13px !important;">We bring valuable
                            experience to the table. Our team has honed the
                            skills and knowledge through countless projects, ensuring that we understand the intricacies
                            of cashcow content creation.</p>

                        <!-- Start Feature List  -->

                        <div class="rbt-feature-wrapper mt--20 ml_dec_20">
                            <div class="rbt-feature  rbt-radius">
                                <div class="icon bg-pink-opacity">
                                    <i class="bi bi-graph-up-arrow"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Tailored Solutions for Success</h6>
                                    <p class="feature-description">Whether you're looking to increase
                                        subscribers, boost video views, or monetize your channel, our team of
                                        professionals will craft a customized solution that aligns with your channel,
                                        ensuring optimal results and long-term success.</p>
                                </div>
                            </div>

                            <div class="rbt-feature  rbt-radius">
                                <div class="icon bg-primary-opacity">
                                    <i class="bi bi-telephone-outbound-fill"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Seamless Communication</h6>
                                    <p class="feature-description">Our YouTube
                                        content creation processes are highly flexible and customizable to meet your
                                        unique requirements. Experience the freedom of tailor-made content creation with
                                        us.</p>
                                </div>
                            </div>
                        </div>

                        <!-- End Feature List  -->
                        <div class="about-btn mt--40">
                            <a onclick="scrollToSection()" class="rbt-btn btn-gradient hover-icon-reverse">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">What we do</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Call To Action  -->
    <div class="rbt-callto-action-area  rbt-section-gap" style="margin-top: -90px;">
        <div class="rbt-callto-action rbt-cta-default style-2">
            <div class="container content-wrapper overflow-hidden" style="max-width: 1090px;">
                <div class="row gy-5 align-items-center">
                    <div class="col-lg-8">
                        <div class="inner">
                            <div class="content text-left text-dark" style="display: block;">
                                <p class="title" data-sal="slide-up" data-sal-duration="400" data-sal-delay="200"
                                    style="font-size: 25px;">
                                    For more info or to explore our portfolio, Contact us
                                </p>
                                <h6 class="subtitle calltosub" data-sal="slide-up" data-sal-duration="400"
                                    data-sal-delay="300">
                                    Schedule a call with our expert team today &#128521;</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="call-to-btn text-start text-lg-end position-relative" data-sal="slide-up"
                            data-sal-duration="400" data-sal-delay="400">
                            <div class="rbt-button-group">
                                <a class="schedule-button" href="wa.me/7012533658">
                                    Schedule a Call
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="arrow">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
                                    </svg>

                                </a>

                            </div>
                            <div class="shape-text-image">
                                <img class="rbt-rotatation-round" src="admin/assets/imgs/logo/Website.png"
                                    alt="Education Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Call To Action  -->


    {{!-- pricing tables --}}
    <div class="rbt-pricing-area  rbt-section-gap" style="margin-top: -120px;">
        <div class="container">
            <div class="row g-5 align-items-center mb--30">
                {{!-- <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title">
                        <span class="subtitle bg-pink-opacity">Blog Post</span>
                        <h2 class="title "> Popular Post.</h2>
                    </div>
                </div> --}}
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="read-more-btn text-start text-md-end">
                        <a href="/shop" class="rbt-btn btn-gradient hover-icon-reverse">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">View all services</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Pricing  -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2">
                        <div class="pricing-header">
                            <h3 class="title">
                                YouTube Shorts</h3>
                            <span class="rbt-badge mb--35">Sparkle Plan</span>
                            <div class="price-wrap">
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$10.00</span>
                                    <span class="duration">/ video</span>
                                </div>
                            </div>
                        </div>



                        <a href="/addToCart?id=64a822c4e848da5f7eeeb7d4">
                            <div class="button-new">
                                <div class="button-wrapper">
                                    <div class="text ">Add to Cart</div>
                                    <span class="icon-new">
                                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                            width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        </a>



                        <div class="pricing-body">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>150 words script</li>
                                <li><i class="feather-check"></i>Human voice over</li>
                                <li><i class="feather-check"></i>Standard Video <span
                                        class="pricing-span">Editing</span></li>
                                <li><i class="feather-check"></i>Video Tags</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div id="plan1" class="pricing-table style-2 active plan1">
                        <div class="pricing-header">
                            <h3 class="title">4 to 5 minute Cashcow video</h3>
                            <span class="rbt-badge mb--35">Silver Plan</span>
                            <div class="price-wrap">
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$29.90</span>
                                    <span class="duration">/ video</span>
                                </div>
                            </div>
                        </div>
                        <a href="/addToCart?id=6491b533ccfaf578548f06b8">
                            <div class="button-new">
                                <div class="button-wrapper">
                                    <div class="text ">Add to Cart</div>
                                    <span class="icon-new">
                                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                            width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        </a>


                        <div class="pricing-body">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>1000 words script</li>
                                <li><i class="feather-check"></i>Human voice over</li>
                                <li><small class="ms-5">(multiple Options)</small></li>
                                <li><i class="feather-check"></i>1 Revisions</li>
                                <li id="hidden-li" class="hidden-li"><i class="feather-check"></i>Highly engaging
                                    <span>Video Editing</span>
                                </li>
                                <li class="hidden-li"><i class="feather-check"></i>SEO included</li>

                                <li class="hidden-li"><i class="feather-check"></i>Customisable <span
                                        class="pricing-span">Thumbnail</span>
                                </li>

                            </ul>
                            <div id="down_arrow" class="down_arrow">
                                <span>
                                    <i class="bi bi-chevron-compact-down"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>

                <style>
                    .down_arrow {
                        font-size: 3rem;
                        position: absolute;
                        top: 51rem;
                        left: 9rem;
                        opacity: 1;
                        transition: opacity 0.3s ease;
                    }

                    .down_arrow55 {
                        top: 51rem;

                    }

                    .down_arrow98 {

                        top: 51rem;
                    }

                    .down_arrow {}

                    .pricing-table:hover .down_arrow {
                        opacity: 0;
                    }
                </style>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div id="plan2" class="pricing-table style-2 active plan2">
                        <div class="pricing-header">
                            <div class="pricing-badge"><span>Popular</span></div>
                            <h3 class="title">8 to 10 minute Cashcow video</h3>
                            <span class="rbt-badge mb--35">Platinum Plan</span>
                            <div class="price-wrap">

                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$55.00</span>
                                    <span class="duration">/ video</span>
                                </div>
                            </div>
                        </div>
                        <a href="/addToCart?id=6480e104c9b6bf03471e9549">
                            <div class="button-new">

                                <div class="button-wrapper">
                                    <div class="text ">Add to Cart</div>
                                    <span class="icon-new">
                                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                            width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        </a>



                        <div class="pricing-body">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>1600 words script</li>
                                <li><i class="feather-check"></i>Human voice over</li>
                                <li><small class="ms-5">(multiple Options)</small></li>
                                <li><i class="feather-check"></i>2 Revisions</li>
                                <li class="hidden-li"><i class="feather-check"></i>SEO included</li>
                                <li class="hidden-li"><i class="feather-check"></i> Advanced + VFX
                                    <span>Video Editing</span>
                                </li>
                                <li class="hidden-li"><i class="feather-check"></i>Customisable <span
                                        class="pricing-span">Thumbnail</span>
                                </li>
                            </ul>
                            <div id="down_arrow" class="down_arrow down_arrow55">
                                <span>
                                    <i class="bi bi-chevron-compact-down"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div id="plan3" class="pricing-table style-2 plan3">
                        <div class="pricing-header">
                            <h3 class="title">8 to 10 minute Premium video</h3>
                            <span class="rbt-badge mb--35">Epic Experience </span>
                            <div class="price-wrap">

                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$99.50</span>
                                    <span class="duration">/ video</span>
                                </div>
                            </div>
                        </div>
                        <a href="/addToCart?id=649b26b1c2280bcc7f41f2e1">
                            <div class="button-new">

                                <div class="button-wrapper">
                                    <div class="text ">Add to Cart</div>
                                    <span class="icon-new">
                                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                            width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>

                            </div>
                        </a>
                        <div class="pricing-body">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i>1600 words script</li>
                                <li><i class="feather-check"></i>Human voice over</li>
                                <li><small class="ms-5">(multiple Options)</small></li>
                                <li><i class="feather-check"></i>Sound Effects</span>
                                </li>
                                <li class="hidden-li"><i class="feather-check"></i>3 Revisions</li>
                                <li class="hidden-li"><i class="feather-check"></i>SEO included</li>

                                <li class="hidden-li"><i class="feather-check"></i> Cinematic + VFX
                                    <span>Video Editing</span>
                                </li>



                                <li class="hidden-li"><i class="feather-check"></i>Premium <span
                                        class="pricing-span">Thumbnail</span>
                                </li>

                                <li class="hidden-li"><i class="feather-check"></i>Chat &amp; Call
                                    <span>Support</span>
                                </li>
                            </ul>
                            <div id="down_arrow" class="down_arrow down_arrow98">
                                <span>
                                    <i class="bi bi-chevron-compact-down"></i>
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->


            </div>
        </div>
    </div>

    <div id="whatwedo"></div>
    {{!-- end pricing tables --}}

    <div class="container text-center col-sm-12 col-md-12" style=" margin-top: 4px;">
        <div class="heading justify-content-center mb-5">
            <h2>This is <span style="color: #6d21f2;">what we do</span></h2>
        </div>

        <div class="btn-group grid gap-4 mt-5 col-sm-12 col-md-12 d-flex flex-wrap justify-content-center">
            <button class="cpbtn col-sm-6 col-md-12 cpbtn-active" id="content_one">
                &#x1F3AF; Strategize
            </button>
            <button class="cpbtn col-sm-6 col-md-12" id="content_two">
                &#x1F3AC; Create
            </button>
            <button class="cpbtn col-sm-6 col-md-12" id="content_three">
                &#x270D;&#x1F3FB; Edit
            </button>
            <button class="cpbtn col-sm-6 col-md-12" id="content_four">
                &#x1F680; Grow
            </button>
        </div>

        <div class="content-group text-center mt-5">
            <div class="content-active mx-auto text-left" id="div_content_one">
                <!-- Add "text-left" class to align the content left -->
                <p class="justify-content-center">Our team will diligently analyze your customers' content preferences
                    to formulate a strategic approach. Our expert team will design a customized video content strategy
                    aimed at captivating your target viewers and igniting their enthusiasm towards your videos.</p>
            </div>
            <div class="content mx-auto text-left" id="div_content_two">
                <!-- Add "text-left" class to align the content left -->
                <p class="justify-content-center">Our team will collaborate with a carefully selected content creator
                    from our network who perfectly aligns with your brand. This ensures that your viewers can genuinely
                    connect with your content, fostering an authentic and engaging experience.</p>
            </div>
            <div class="content mx-auto text-left" id="div_content_three">
                <!-- Add "text-left" class to align the content left -->
                <p class="justify-content-center">Our seasoned editors possess extensive expertise in crafting
                    high-retention videos that captivate your audience. Through skillful implementation of engaging
                    cuts, captivating captions, and compelling animations, we ensure your viewers are hooked and
                    compelled to stay engaged with your content.</p>
            </div>
            <div class="content mx-auto text-left" id="div_content_four">
                <!-- Add "text-left" class to align the content left -->
                <p class="justify-content-center">We can grow together as strategic partners, while we efficiently
                    handle all the administrative work and amplify your brand's reach across multiple platforms with
                    consistent daily posting.</p>
            </div>
        </div>

    </div>


    {{!-- testimonials --}}
    <div class="rbt-testimonial-area  rbt-section-gap overflow-hidden" style="display: block; margin-top: 6px;">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="subtitle bg-primary-opacity">Testimonials</span>
                            <h2 class="title ">Listen to Our Valued Clients</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-animation-wrapper mt--50">
            <div class="scroll-animation scroll-right-left">

                {{#each review}}

                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="admin/assets/ProductImages/{{image}}" id="testi_img"
                                        alt="youtube cashcow ">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">{{name}}</h5>
                                    <span>{{channelName}} <i>@ Youtube</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">{{review}}</p>
                                {{!-- <a class="rbt-btn-link" href="#">Read Project Case Study<i
                                        class="feather-arrow-right"></i></a> --}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->
                {{/each}}

            </div>
        </div>

        <div class="scroll-animation-wrapper mt--30">
            <div class="scroll-animation scroll-left-right">

                {{#each sorted}}
                <!-- Start Single Testimonial  -->
                <div class="single-column-20">
                    <div class="rbt-testimonial-box">
                        <div class="inner">
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="admin/assets/ProductImages/{{image}}" id="testi_img"
                                        alt="youtube cashcow ">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">{{name}}</h5>
                                    <span>{{channelName}} <i>@ Youtube</i></span>
                                </div>
                            </div>
                            <div class="description">
                                <p class="subtitle-3">{{review}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial  -->

                {{/each}}

            </div>
        </div>
    </div>



    <div class="container text-center" style="margin-bottom: 50px; margin-top: 30px;">
        <div class="heading justify-content-center mb-5">
            <h2>Got Questions? <span style="color: #6d21f2;">Find Answers in our FAQ</span></h2>
        </div>

        <div class="container col-md-7">
            <div class="rbt-accordion-style rbt-accordion-04 accordion">
                <div class="accordion" id="accordionExamplec3">
                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header " id="headingThree1">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                What types of videos do Vidventures produce?

                            </button>
                        </h2>
                        <div id="collapseThree1" class="accordion-collapse collapse " aria-labelledby="headingThree1"
                            data-bs-parent="#accordionExamplec3">
                            <div class="accordion-body card-body" style="text-align: start;">

                                At Vidventures, we specialize in a wide range of video types in different niches, which
                                include sports, history, crime, gadgets, luxury, accidents, EV, tech, finance and more.
                                Whether you need to showcase your products, educate your audience, or promote your
                                brand, we have the expertise to deliver the perfect video for your needs.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingThree2">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                How long does it take to produce a video?

                            </button>
                        </h2>
                        <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2"
                            data-bs-parent="#accordionExamplec3">
                            <div class="accordion-body card-body" style="text-align: start;">
                                The time required to produce a video varies depending on the complexity and length of
                                the project. Normally the video will be delivered in full quality within 72 hours. After
                                discussing your specific requirements, we can provide a more accurate timeline. However,
                                we strive to deliver high-quality videos within reasonable timeframes and work closely
                                with you to meet your deadlines.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingThree3">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                Can I provide input or make revisions during the production process?

                            </button>
                        </h2>
                        <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3"
                            data-bs-parent="#accordionExamplec3">
                            <div class="accordion-body card-body" style="text-align: start;">
                                Absolutely! We believe in the power of collaboration. We encourage your active
                                participation throughout the production process. Our team will regularly communicate
                                with you, seeking your feedback and input at key milestones. We value your vision and
                                aim to incorporate your ideas and revisions to ensure the final video meets your
                                expectations.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingThree4">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                What if I don't have a clear concept or script for my video?

                            </button>
                        </h2>
                        <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4"
                            data-bs-parent="#accordionExamplec3">
                            <div class="accordion-body card-body" style="text-align: start;">
                                Don't worry if you don't have a fully developed concept or script. Our experienced team
                                is here to assist you. We offer scriptwriting and conceptualization services to help you
                                define the core message of your video and bring your ideas to life. We'll work closely
                                with you to create a compelling script that effectively communicates your desired
                                message.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item card">
                        <h2 class="accordion-header card-header" id="headingThree4">
                            <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree4">
                                Can you accommodate rush projects or tight deadlines?


                            </button>
                        </h2>
                        <div id="collapseThree5" class="accordion-collapse collapse" aria-labelledby="headingThree4"
                            data-bs-parent="#accordionExamplec3">
                            <div class="accordion-body card-body" style="text-align: start;">
                                We understand that sometimes you may require videos on an urgent basis. While it depends
                                on our current workload, we will do our best to accommodate rush projects and tight
                                deadlines. Contact us with your specific requirements, and we'll assess the feasibility
                                of meeting your timeline.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


    {{!-- faq --}}



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>

        //! header animation


        // Get all the spans
        const spans = document.querySelectorAll('.ani h1');
        // Loop through the spans and add a class to show them one by one
        let i = 0;
        const showNextSpan = () => {
            // Remove the show class from all the spans
            spans.forEach(span => {
                span.classList.remove('show');
            });

            // Add the show class to the current span after a delay
            setTimeout(() => {
                spans[i].classList.add('show');
                i++;

                if (i >= spans.length) { // Check if i has reached the end of the array
                    i = 0; // Reset i to 0 if it has
                }

                setTimeout(showNextSpan, 1200); // Use a delay of 3000ms (2s fade-out + 1s delay)
            }, 1000); // Use a delay of 1000ms (1s delay)
        }


        // Call the function to start the animation
        showNextSpan();



        //!tiggeering the modal window

        var modalTriggered = true;
        $(window).scroll(function () {
            var scrollPosition = $(window).scrollTop();
            var triggerPosition = 1152/* Specify the position at which you want to trigger the modal */;

            if (!modalTriggered) {
                if (scrollPosition >= triggerPosition) {
                    $('#exampleModalToggle').modal('show');
                    modalTriggered = true;
                }
            }

        });

        // !modal data sending ajax request

        const form = document.getElementById('myForm');

      

        var video = document.getElementById("myVideo");
        video.play();

        // Assuming you have jQuery library included in your project
        // Make sure to include the jQuery library before using this code


        function getdata() {
            // Get the form element
            var form = $("#myform");

            // Submit form data using Ajax
            form.submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Serialize the form data
                var formData = form.serialize();

                // Send the Ajax request
                $.ajax({
                    type: "POST", // Use POST method
                    url: "/getFormData", // Replace with the appropriate server endpoint
                    data: formData, // Send the serialized form data
                    success: function (response) {
                        // Handle the successful response
                        console.log("Form submitted successfully!");
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.error("Error submitting form:", error);
                    }
                });
            });

        }

        const buttons = document.querySelectorAll('.cpbtn');
        buttons.forEach((button) => {
            button.addEventListener('click', () => {
                const buttonId = button.id;
                const newButton = document.getElementById(buttonId);
                const activeButtons = document.getElementsByClassName('cpbtn-active');
                const divID = `div_${buttonId}`;

                console.log(divID);

                const targetDiv = document.getElementById(divID);
                const activeDiv = document.querySelector('.content-active');

                Array.from(activeButtons).forEach((activeButton) => {
                    activeButton.classList.remove('cpbtn-active');
                    activeButton.classList.add('cpbtn');
                });

                newButton.classList.remove('cpbtn');
                newButton.classList.add('cpbtn-active');

                activeDiv.classList.remove('content-active');
                activeDiv.classList.add('content');

                targetDiv.classList.remove('content');
                targetDiv.classList.add('content-active');
            });
        });


        function scrollToSection() {
            var target = document.getElementById('whatwedo');
            if (target) {
                var windowHeight = window.innerHeight;
                var targetOffsetTop = target.offsetTop;
                var targetHeight = target.offsetHeight;

                var scrollToPosition = targetOffsetTop - (windowHeight - targetHeight) / 3;

                window.scrollTo({
                    top: scrollToPosition,
                    behavior: 'smooth', // Use 'auto' for instant scroll without animation
                    duration: 2000 // Adjust the scroll speed as needed
                });
            }
        }

    </script>