<form action="/checkout" method="post">

    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Checkout</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="checkout_area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row g-5 checkout-form">

                <div class="col-lg-7">
                    <div class="checkout-content-wrapper">

                        <!-- Billing Address -->
                        <div id="billing-form">
                            <h4 class="checkout-title">Billing Address</h4>

                            <div class="row">

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Name*</label>
                                    <input name="name" type="text" placeholder="First Name">
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Email Address*</label>
                                    <input name="email" type="email" placeholder="Email Address">
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Phone no*</label>
                                    <input name="mobile" type="text" placeholder="Phone number">
                                </div>

                                <div class="col-12 mb--20">
                                    <label>Address*</label>
                                    <input type="text" name="line1" placeholder="Address line 1">
                                    <input type="text" name="line2" placeholder="Address line 2">
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Country*</label>
                                    <div class="rbt-modern-select bg-transparent height-45">
                                        <select id="countrySelect" name="country" class="w-100">
                                            <option value="">Select a Country</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Town/City*</label>
                                    <input name="city" type="text" placeholder="Town/City">
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>State*</label>
                                    <input name="state" type="text" placeholder="State">
                                </div>

                                <div class="col-md-6 col-12 mb--20">
                                    <label>Zip Code*</label>
                                    <input name="postal_code" type="text" placeholder="Zip Code">
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="row pl--50 pl_md--0 pl_sm--0">
                        <!-- Cart Total -->
                        <div class="col-12 mb--60">

                            <h4 class="checkout-title">Cart Total</h4>

                            <div class="checkout-cart-total">

                                <h4>Product <span>Total</span></h4>

                                <ul>



                                    {{#each cartItem}}
                                    <li> {{productId.name}} X {{qty}} <span>${{multi qty
                                            productId.discountedPrice}}</span>
                                    </li>
                                    {{/each}}
                                    <p>

                                        {{#if addon}}
                                    <h4 class="mt-5">Add on</h4>
                                    {{/if}}


                                    {{#if shortsobj}}
                                    <li> Shorts X {{shortsobj.shorts}} <span>${{shortsobj.totalPrice}}</span></li>
                                    <input type="hidden" name="shortsqty" value="{{shortsobj.shorts}}">
                                    <input type="hidden" name="shortsTotal" value="{{shortsobj.totalPrice}}">
                                    {{/if}}
                                    {{#if thumbnailobj}}
                                    <li>Premium Thumbnail X {{thumbnailobj.thumbnail}}
                                        <span>${{thumbnailobj.totalPrice}}</span>
                                    </li>
                                    <input type="hidden" name="thumbnailqty" value="{{thumbnailobj.thumbnail}}">
                                    <input type="hidden" name="thumbnail">

                                    {{/if}}
                                    {{#if channelManagementobj}}
                                    <li>Channel Management X 1 Month <span>${{channelManagementobj.totalPrice}}</span>
                                    </li>
                                    <input type="hidden" name="channelTotal"
                                        value="{{channelManagementobj.totalPrice}}">
                                    {{/if}}
                                    </p>
                                </ul>
                                <h4 class="mt--30">Grand Total <span>${{subtotal}}</span></h4>

                            </div>

                        </div>

                        <!-- Payment Method -->
                        <div class="col-12 mb--60">
                            <h4 class="checkout-title">Payment Method</h4>
                            <div class="checkout-payment-method">

                                <div class="single-method">
                                    <input type="radio" id="payment_bank" name="payment-method" value="bank">
                                    <label for="payment_bank">Stripe</label>
                                    <p data-method="bank">Please send a Check to Store name with
                                        Store Street, Store Town, Store State, Store Postcode,
                                        Store Country.</p>
                                </div>
                                <div class="single-method">
                                    <input type="radio" id="payment_paypal" name="payment-method" value="paypal">
                                    <label for="payment_paypal">Paypal</label>
                                    <p data-method="paypal">Please send a Check to Store name with
                                        Store Street, Store Town, Store State, Store Postcode,
                                        Store Country.</p>
                                </div>

                                <div class="single-method">
                                    <input type="radio" id="payment_check" name="payment-method" value="check">
                                    <label for="payment_check">Wise</label>
                                    <p data-method="check">Please send a Check to Store name with
                                        Store Street, Store Town, Store State, Store Postcode,
                                        Store Country.</p>
                                </div>






                                <div class="single-method">
                                    <input type="checkbox" id="accept_terms">
                                    <label for="accept_terms">I’ve read and accept the terms &
                                        conditions</label>
                                </div>
                            </div>
                            <div class="plceholder-button mt--50">
                                <button type="submit" class="rbt-btn btn-gradient hover-icon-reverse">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Place order</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>

</form>


<script>
    const countrySelect = document.getElementById('countrySelect');

    // Fetch country data from REST Countries API
    fetch('https://restcountries.com/v3.1/all')
        .then(response => response.json())
        .then(data => {
            // Loop through the country data and create an <option> element for each country
            data.forEach(country => {
                const option = document.createElement('option');
                option.value = country.name.common; // Use the alpha2Code as the option value
                option.text = country.name.common; // Use the common name as the option text
                countrySelect.appendChild(option); // Add the option to the <select> element

            });

        })
        .catch(error => console.log('Error:', error));;
</script>