<a class="close_side_menu" href="javascript:void(0);"></a>


<div class="rbt-course-details-area ptb--60">

    <div class="container">
        <h1>{{product.name}}</h1>
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="course-details-content">
                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 "
                        id="overview">
                        <div class="rbt-course-feature-inner ">
                            <div class="section-title">
                                <h5>Description</h5>

                                <ul style="display: block;">
                                    {{#each list}}
                                    <li style=" margin-bottom: -30px; margin-top: 4rem;">
                                        <p class="text-dark">{{this}}</p>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="mobileview">
                                <img src="admin/assets/ProductImages/{{product.image}}" alt="" style="width: 100%;">
                                 <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center"
                                    href="/addToCart?id={{product._id}}">
                                    <span class="btn-text">Add to Cart</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            </div>

                            <style>
                                .mobileview{
                                    display: none;
                                }
                                 @media (min-width: 300px) and (max-width: 480px) {
                                    .mobileview{
                                        display: block !important;
                                    }
                                    .mobilehide{
                                        display: none;
                                    }
                                 }
                            </style>
                        </div>

                    </div>

                </div>
                <div class="related-course mt--60">
                    <div class="row g-5 align-items-end mb--40">
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="section-title">
                                <span class="subtitle bg-pink-opacity">Top Services</span>
                            </div>
                        </div>

                    </div>
                    <div class="row g-5">
                        {{#each products}}
                        <!-- Start Single Card  -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-sal-delay="150" data-sal="slide-up"
                            data-sal-duration="800">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a href="/productDetails?id={{_id}}">
                                        <img src="admin/assets/ProductImages/{{image}}" alt="Youtube Automation">

                                    </a>
                                </div>
                                <div class="rbt-card-body">


                                    <h4 class="rbt-card-title"><a href="/productDetails?id={{_id}}">{{name}}</a>
                                    </h4>


                                    <p class="rbt-card-text">{{sdescription}}</p>

                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">${{discountedPrice}}</span>
                                            <span class="off-price">${{mrp}}</span>
                                        </div>

                                        <a class="rbt-btn-link" href="/productDetails?id={{_id}}">view product
                                            <i class="feather-arrow-right"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                        {{/each}}


                    </div>
                </div>
            </div>

            <div class="col-lg-4 mobilehide">
                <div class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border mt-5">
                    <div class="inner">

                        <!-- Start Viedo Wrapper  -->
                        <a class=" video-popup-wrapper text-center  mb--15">
                            <div class="video-content">
                                <img class="w-100 rbt-radius" src="admin/assets/ProductImages/{{product.image}}"
                                    alt="Video Images">
                                <div class="position-to-top">
                                </div>
                            </div>
                        </a>
                        <!-- End Viedo Wrapper  -->

                        <div class="content-item-content">
                            <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price">${{product.discountedPrice}}</span>
                                    <span class="off-price">${{product.mrp}}</span>
                                </div>
                                {{!-- <div class="discount-time">
                                    <span class="rbt-badge color-danger bg-color-danger-opacity"><i
                                            class="feather-clock"></i> 3 days left!</span>
                                </div> --}}
                            </div>

                            <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center"
                                    href="/addToCart?id={{product._id}}">
                                    <span class="btn-text">Add to Cart</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <div class="buy-now-btn mt--15">
                                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center"
                                    href="/addToCart?id={{product._id}}">
                                    <span class="btn-text">Buy Now</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="read-more-btn text-start text-md-end">
                                    <a class="rbt-btn-link rbt-switch-btn btn-border btn-sm" style="font-size: 11px;"
                                        href="/termsandconditions">
                                        <span>Terms &amp; Conditions</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>