<a class="close_side_menu" href="javascript:void(0);"></a>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->

    <!-- End Banner BG Image  -->
    <div id="shoopingbanner" class="rbt-banner-content">

        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Breadcrumb Area  -->
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">All services</li>
                        </ul>
                        <!-- End Breadcrumb Area  -->

                        <div class=" title-wrapper">
                            <h1 class="title mb--0">All Services</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
        <!-- Start Course Top  -->
        <div class="rbt-course-top-wrapper mt--40 mt_sm--20">
            <div class="container">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-5 col-md-4 gridbtn">
                        <div class="rbt-sorting-list d-flex flex-wrap align-items-center">
                            <div class="rbt-short-item switch-layout-container">
                                <ul class="course-switch-layout">
                                    <li class="course-switch-item"><button class="rbt-grid-view active"
                                            title="Grid Layout"><i class="feather-grid"></i> <span
                                                class="text">Grid</span></button></li>
                                    <li class="course-switch-item"><button class="rbt-list-view" title="List Layout"><i
                                                class="feather-list"></i> <span class="text">List</span></button></li>
                                </ul>
                            </div>
                          
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6 filterbtn">
                        <div
                            class="rbt-sorting-list d-flex flex-wrap align-items-center justify-content-start justify-content-lg-end searchdiv">
                            <div class="rbt-short-item newshort">
                                <form action="#" class="rbt-search-style me-0">
                                    <input id="searchButton" type="text" placeholder="Search Your product">
                                    <button type="submit" class="rbt-search-btn rbt-round-btn">
                                        <i class="feather-search"></i>
                                    </button>
                                </form>
                            </div>

                            <div class="rbt-short-item">
                                <div class="view-more-btn text-start text-sm-end">
                                    <button
                                        class="discover-filter-button discover-filter-activation rbt-btn btn-white btn-md radius-round "><span
                                            class="filertext">Filter</span><i class="feather-filter"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Filter Toggle  -->
                <div class="default-exp-wrapper default-exp-expand">
                    <div class="filter-inner">
                        <div class="filter-select-option">
                            <div class="filter-select rbt-modern-select">
                                <span class="select-label d-block">Short By</span>
                                <select id="sortvalue">
                                    <option value="default">Default</option>
                                    <option value="latest">Latest</option>
                                    <option value="popularity">Popularity</option>
                                    <option value="low">Price: low to high</option>
                                    <option value="high">Price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Toggle  -->
            </div>
        </div>
        <!-- End Course Top  -->
    </div>
</div>

<style>
    #shooping {
        display: none;
    }

    #shoopingbanner {
        display: none;
    }

    .footer {
        display: none;
    }
</style>


<div id="shooping" class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">
            <div id="searchResults" class="rbt-course-grid-column">



                {{#each product}}

                <!-- Start Single Card  -->
                <div class="course-grid-3">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="/productDetails?id={{_id}}">
                                <img src="admin/assets/ProductImages/{{image}}" alt="Youtube Cashcow image">
                            </a>
                        </div>
                        <div class="rbt-card-body">

                            <h4 class="rbt-card-title"><a href="/productDetails?id={{_id}}">{{name}}</a>
                            </h4>

                            

                            <p class="rbt-card-text">{{sdescription}}</p>
                          
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">${{discountedPrice}}</span>
                                    <span class="off-price">${{mrp}}</span>
                                </div>
                                <a class="rbt-btn btn-sm btn-border radius-round-10" href="/addToCart?id={{_id}}">Add To
                                    Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->

                {{/each}}


            </div>

        </div>
    </div>
</div>


<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>


<script>
    function showLoadingScreen() {
        const loadingScreen = document.getElementById('loadingscreen');
        loadingScreen.style.display = 'block';
    }

    function hideLoadingScreen() {
        const loadingScreen = document.getElementById('loadingscreen');
        const screeenloadingScreen = document.querySelector('#shooping');
        const displaybanner = document.querySelector('#shoopingbanner');
        const footer = document.querySelector('.footer');
        footer.style.display = 'block';
        loadingScreen.style.display = 'none';
        screeenloadingScreen.style.display = 'block';
        displaybanner.style.display = 'block';
    }

    function handleWindowLoad() {
            showLoadingScreen();
            setTimeout(hideLoadingScreen, 500);
    }

    window.addEventListener('load', handleWindowLoad);

    document.getElementById('searchButton').addEventListener('keyup', searchProducts);

    function searchProducts() {
        const searchTerm = $('#searchButton').val();
        const url = `https://vidventuresyt.com/serviceSearch?searchTerm=${encodeURIComponent(searchTerm)}`;

        $(function () {
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    displaySearchResults(data);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        })
    }


    function displaySearchResults(results) {
        const searchResults = document.getElementById('searchResults');
        searchResults.innerHTML = '';

        if (results.length === 0) {
            searchResults.innerHTML = 'No products found.';
        } else {
            results.forEach(product => {
                const productElement = document.createElement('div');
                productElement.classList.add('course-grid-3');
                productElement.innerHTML = `
                <!-- Start Single Card  -->
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="/productDetails?id=${product._id}">
                            <img src="admin/assets/ProductImages/${product.image}" alt="Youtube Cashcow image">
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <h4 class="rbt-card-title"><a href="/productDetails?id=${product._id}">${product.name}</a></h4>
                        <p class="rbt-card-text">${product.sdescription}</p>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">$${product.discountedPrice}</span>
                                <span class="off-price">$${product.mrp}</span>
                            </div>
                            <a class="rbt-btn btn-sm btn-border radius-round-10" href="/addToCart?id=${product._id}">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
            `;
                searchResults.appendChild(productElement);
            });
        }
    }

    document.getElementById('sortvalue').addEventListener('change', sortProduct)

    function sortProduct() {
        const sortvalue = $('#sortvalue').val();
        const url = `https://vidventuresyt.com/sort?sortby=${encodeURIComponent(sortvalue)}`;
        $(function () {
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    displaySearchResults(data);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    }


</script>
