<style>
    #nameSpan {
        opacity: 0.8;
        font-weight: 600;
        color: #565ee6
;

    }

    /* Keyframe animation for fading out */
    @keyframes fadeOut {
        0% {
            opacity: 0.8;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    /* Keyframe animation for fading in */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        25% {
            opacity: 0.25;
            
        }

        50% {
            opacity: 0.5;
            transform: translateY(10px);
        }
        75% {
            opacity: 0.75;
            
        }

        100% {
            opacity: 0.8;
            transform: translateY(0);
        }
    }

    /* Animation classes */
    .fade-out {
        animation: fadeOut 0.5s forwards;
    }

    .fade-in {
        animation: fadeIn 1s forwards;
    }

    .headingslide {
        display: flex;
        flex-direction: column;
    }

    .headingname {
        margin-top: -18px;
        font-weight: 500 !important;
        opacity: 1;
    }
</style>

<script>
    function changeText() {
        const nameSpan = document.getElementById('nameSpan');
        const newTexts = ['Howdy', 'Hola', 'Namasthe', 'Bonjour','Welcome','Goedendag','مرحبًا'];
        const currentIndex = newTexts.indexOf(nameSpan.innerText);
        const nextIndex = (currentIndex + 1) % newTexts.length;
        const nextText = newTexts[nextIndex];

        nameSpan.classList.add('fade-out');

        setTimeout(() => {
            nameSpan.innerText = nextText;
            nameSpan.classList.remove('fade-out');
            nameSpan.classList.add('fade-in');
            setTimeout(() => {
                nameSpan.classList.remove('fade-in');
            }, 500); // Adjust the duration to match the animation duration
        }, 500); // Adjust the duration to match the animation duration

        newTexts.push(newTexts.shift());
    }

    setInterval(changeText, 2000);
</script>
<a class="close_side_menu" href="javascript:void(0);"></a>
<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <div class="headingslide">
                        <span class="me-3 my-element "  id="nameSpan">Hello
                        </span>

                        <h2 class="title headingname mt-1">
                            {{userData.name}}</h2>
                    </div>
                    {{!-- <ul class="page-list">
                        <li class="rbt-breadcrumb-item"><a href="/">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="feather-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">My Account</li>
                    </ul> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->
<div class="my-account-section bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row g-5">
                    <!-- My Account Tab Menu Start -->
                    <div class="col-lg-3 col-12">
                        <div class="rbt-my-account-tab-button nav" role="tablist">
                            <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard</a>
                            <a href="#orders" data-bs-toggle="tab">Orders</a>
                            <a href="#account-info" data-bs-toggle="tab">Account Details</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <!-- My Account Tab Menu End -->

                    <!-- My Account Tab Content Start -->
                    <div class="col-lg-9 col-12">
                        <div class="tab-content" id="myaccountContent">
                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade active show" id="dashboad" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Dashboard</h3>

                                    <div class="about-address mb--20">

                                        <p>Welcome to the Customer Login Portal!

                                            Our user-friendly dashboard is designed to provide you with a seamless and
                                            efficient experience in managing your YouTube automation needs.

                                        </p>
                                        <p>At Vidventures, we believe in delivering exceptional services while
                                            maintaining a professional and user-friendly environment. Our customer login
                                            portal aims to enhance your experience, allowing you to leverage the power
                                            of YouTube automation effortlessly.
                                        </p>
                                        <p>Thank you for choosing Videntures. We look forward to supporting your YouTube
                                            success!</p>
                                    </div>

                                    <p></p>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="orders" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Orders</h3>

                                    <div class="rbt-my-account-table table-responsive text-center">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {{#each data}}
                                                <tr>
                                                    <td>{{@index}}</td>
                                                    <td>{{productId.name}}</td>
                                                    <td>{{formatDate createdAt}}</td>
                                                    {{#if (eq status "Confirm")}}
                                                    <td>{{status}}</td>
                                                    {{else if (eq status "Delivered")}}
                                                    <td style="color: rgb(41, 189, 41);">{{status}}</td>
                                                    {{else}}
                                                    {{status}}
                                                    {{/if}}

                                                    <td>${{multi price qty}}</td>
                                                    <td>
                                                        <a class="rbt-btn btn-gradient btn-sm"
                                                            href="/viewOrderDetails?id={{id}}&productId={{productId._id}}">View
                                                            Details</a>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="download" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Downloads</h3>

                                    <div class="rbt-my-account-table table-responsive text-center">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Date</th>
                                                    <th>Expire</th>
                                                    <th>Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Miracle Morning</td>
                                                    <td>Aug 22, 2018</td>
                                                    <td>Yes</td>
                                                    <td>
                                                        <a class="rbt-btn btn-gradient btn-sm" href="#">Download
                                                            File</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Happy Strong</td>
                                                    <td>Sep 12, 2018</td>
                                                    <td>Never</td>
                                                    <td><a class="rbt-btn btn-gradient btn-sm" href="#">Download
                                                            File</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Payment Method</h3>

                                    <p class="rbt-saved-message">You Can't Saved Your Payment Method yet.</p>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Billing Address</h3>

                                    <address>
                                        <p><strong>Banani, Dhaka</strong></p>
                                        <p>1205 Supper Market<br>
                                            Dhaka, Bangladesh</p>
                                        <p>Mobile: 01911111111</p>
                                    </address>

                                    <div class="rbt-link-hover">
                                        <a href="#" class="d-inline-block"><i class="fa fa-edit mr--5"></i>Edit
                                            Address</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->

                            <!-- Single Tab Content Start -->
                            <div class="tab-pane fade" id="account-info" role="tabpanel">
                                <div class="rbt-my-account-inner">
                                    <h3>Account Details</h3>

                                    <div class="account-details-form">
                                        <form action="/editProdile" method="POST">
                                            <div class="row g-5">
                                                <div class="col-lg-6 col-12">
                                                    <input id="first-name" name="name" placeholder="Full Name"
                                                        value="{{userData.name}}" type="text">
                                                </div>

                                                <div class="col-lg-6 col-12">
                                                    <input id="last-name" name="mobile" placeholder="Phone No"
                                                        value="{{userData.mobile}}" type="text">
                                                </div>

                                                {{!-- <div class="col-12">
                                                    <input id="display-name" placeholder="Display Name" type="text">
                                                </div> --}}

                                                <div class="col-12">
                                                    <input id="email-address" placeholder="Email Address"
                                                        value="{{userData.email}}" type="email" readonly>
                                                </div>

                                                <div class="col-12">
                                                    <h4>Password change</h4>
                                                </div>

                                                <div class="col-12">
                                                    <input id="current-pwd" value="" name="cpasswrd"
                                                        placeholder="Current Password" type="password"
                                                        autocomplete="off">
                                                </div>

                                                <div class="col-lg-6 col-12">
                                                    <input id="new-pwd" name="newpasswrd" placeholder="New Password"
                                                        type="password">
                                                </div>

                                                <div class="col-lg-6 col-12">
                                                    <input id="confirm-pwd" name="cnfrmpasswrd"
                                                        placeholder="Confirm Password" type="password">
                                                </div>

                                                <div class="col-12">
                                                    <button class="rbt-btn btn-gradient icon-hover">
                                                        <span class="btn-text">Save Changes</span>
                                                        <span class="btn-icon"><i
                                                                class="feather-arrow-right"></i></span>
                                                    </button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Tab Content End -->
                        </div>
                    </div>
                    <!-- My Account Tab Content End -->
                </div>

            </div>

        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>