
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area rbt-section-gap">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <div class="course-details-content">

          <div class="rbt-feature-box rbt-shadow-box thuumbnail">
            <img class="w-100" src="assets/ProductImages/{{newProduct.image}}" alt="Card image">
          </div>

          <!-- Start Course Feature Box  -->
          <div class="rbt-feature-box rbt-shadow-box mt--60">
            <div class="row g-5">
              <!-- Start Feture Box  -->
              <div class="col-lg-12">
                <div class="section-title">
                  <h4 class="title mb--20">Product Description</h4>
                </div>
                <p>{{newProduct.sdescription}}<p>
                  {{newProduct.description}}
                </div>
              <!-- End Feture Box  -->

              {{!-- <!-- Start Feture Box  -->
              <div class="col-lg-6">
                <div class="section-title">
                  <h4 class="title mb--20">Description</h4>
                </div>
                <ul class="rbt-list-style-1">
                  <li><i class="feather-check"></i>Use the Jupyter Notebook Environment.
                    JavaScript developer from scratch.</li>
                  <li><i class="feather-check"></i>Use the pandas module with Python to create and
                    structure data.</li>
                  <li><i class="feather-check"></i>Have a portfolio of various data analysis
                    projects.</li>
                  <li><i class="feather-check"></i>Create data visualizations using matplotlib and
                    the seaborn.</li>
                </ul>
              </div>
              <!-- End Feture Box  --> --}}
            </div>
          </div>
          <!-- End Course Feature Box  -->
        </div>
        {{!-- <div class="related-course mt--60">
          <div class="row">
            <div class="col-lg-12 mb--40">
              <div class="section-title text-start">
                <span class="subtitle bg-secondary-opacity">Similar Event</span>
                <h2 class="title">Similar Event</h2>
              </div>
            </div>
          </div>

          <div class="row g-5">
            <!-- Start Single Card  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up"
              data-sal-duration="800">
              <div class="rbt-card event-grid-card variation-01 rbt-hover">
                <div class="rbt-card-img">
                  <a href="course-details.html">
                    <img src="user/assets/images/event/grid-type-01.jpg" alt="Card image">
                    <div class="rbt-badge-3 bg-white">
                      <span>11 Jan</span>
                      <span>2022</span>
                    </div>
                  </a>
                </div>
                <div class="rbt-card-body">
                  <ul class="rbt-meta">
                    <li><i class="feather-map-pin"></i>IAC Building</li>
                    <li><i class="feather-clock"></i>8:00 am - 5:00 pm</li>
                  </ul>
                  <h4 class="rbt-card-title"><a href="course-details.html">International Education Fair 2022</a></h4>

                  <div class="read-more-btn">
                    <a class="rbt-btn btn-border hover-icon-reverse btn-sm radius-round" href="event-details.html">
                      <span class="icon-reverse-wrapper">
                        <span class="btn-text">Get Ticket</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up"
              data-sal-duration="800">
              <div class="rbt-card event-grid-card variation-01 rbt-hover">
                <div class="rbt-card-img">
                  <a href="course-details.html">
                    <img src="user/assets/images/event/grid-type-02.jpg" alt="Card image">
                    <div class="rbt-badge-3 bg-white">
                      <span>11 Mar</span>
                      <span>2022</span>
                    </div>
                  </a>
                </div>
                <div class="rbt-card-body">
                  <ul class="rbt-meta">
                    <li><i class="feather-map-pin"></i>Vancouver</li>
                    <li><i class="feather-clock"></i>8:00 am - 5:00 pm</li>
                  </ul>
                  <h4 class="rbt-card-title"><a href="course-details.html">Painting Art Contest 2020</a></h4>

                  <div class="read-more-btn">
                    <a class="rbt-btn btn-border hover-icon-reverse btn-sm radius-round" href="event-details.html">
                      <span class="icon-reverse-wrapper">
                        <span class="btn-text">Get Ticket</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Card  -->
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="load-more mt--60 text-center">
                <a class="rbt-btn rbt-switch-btn btn-border" href="#">
                  <span data-text="View More Events">View More Events</span>
                </a>
              </div>
            </div>
          </div>
        </div> --}}
      </div>

      <div class="col-lg-4 mt_md--60 mt_sm--60 mt-5">
        <div class="course-sidebar rbt-gradient-border sticky-top rbt-shadow-box course-sidebar-top">
          <div class="inner">


            <!-- Start Viedo Wrapper  -->
            <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15">
              <div class="video-content">
                <img class="w-100 rbt-radius" src="assets/ProductImages/{{newProduct.image}}" alt="Video Images">

              </div>
            </a>
            <!-- End Viedo Wrapper  -->

            <div class="content pt--30">
              {{#if product.link}}
              <div class="add-to-card-button mb--15">
                <a target="_blank" class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="{{product.link}}">
                  <span class="btn-text">Get Order</span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </a>
              </div>
              {{/if}}
              <div class="buy-now-btn">
                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="/addInstructions?id={{order._id}}&productId={{product.productId._id}}">
                  <span class="btn-text">Add Instructions</span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </a>
              </div>
              {{#unless product.link}}
              <small>*You will Recive a mail when your product is ready</small>
              <small>Also you wil see a Button here to access Your Product*</small>
              {{/unless}}

              <div class="rbt-widget-details has-show-more">
                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                  <li><span>Order ID</span><span class="rbt-feature-value rbt-badge-5">{{order.orderId}}</span>
                  </li>
                  {{#if product.status}}
                  <li><span>Status</span><span class="rbt-feature-value rbt-badge-5">{{product.status}}</span></li>
                  {{else}}
                                    <li><span>Status</span><span class="rbt-feature-value rbt-badge-5">Confirmed</span></li>

                  {{/if}}
                  <li><span>Total Price</span><span class="rbt-feature-value rbt-badge-5">{{multi product.qty product.price}}</span></li>
                  <li><span>Quantity</span><span class="rbt-feature-value rbt-badge-5">{{product.qty}}</span></li>
                                  {{!-- <li><span>Quantity</span><span class="rbt-feature-value rbt-badge-5">{{product.qty}}</span></li> --}}

                    </ul>
               
              </div>

              <div class="social-share-wrapper mt--30 text-center">

                <hr class="mt--20">
                <div class="contact-with-us text-center">
                  <p>For details about the course</p>
                  <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Call
                    Us: <a href="#"><strong>+444 555 666 777</strong></a></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




