
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area rbt-section-gap">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <div class="course-details-content">

        
          <!-- Start Course Feature Box  -->
          <div class="rbt-feature-box rbt-shadow-box mt--60">
            <div class="row g-5">
              <!-- Start Feture Box  -->
              <div class="col-lg-12">
                <div class="section-title">
                  <h4 class="title mb--20">Product Description</h4>
                </div>
                
                <ul>
                  {{#each newProduct.list}}
                  <li>{{this}}</li>
                   {{/each}}
                </ul>
                 
                </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt_md--60 mt_sm--60 mt-5" style="margin-top: 60vh !important;">
        <div class="course-sidebar rbt-gradient-border sticky-top rbt-shadow-box course-sidebar-top">
          <div class="inner">


            <!-- Start Viedo Wrapper  -->
            <a class="video-popup-with-text  text-center popup-video  mb--15 " >
              <div class="video-content">
                <img class="w-100 rbt-radius" src="admin/assets/ProductImages/{{newProduct.image}}" alt="Video Images">

              </div>
            </a>
            <!-- End Viedo Wrapper  -->

            <div class="content pt--30">
              {{#if product.link}}
              <div class="add-to-card-button mb--15">
                <a target="_blank" class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="{{product.link}}">
                  <span class="btn-text">Get Order</span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </a>
              </div>
              {{/if}}
              <div class="buy-now-btn">
                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="/addInstructions?id={{order._id}}&productId={{product.productId._id}}">
                  <span class="btn-text">Add Instructions</span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </a>
              </div>
              {{#unless product.link}}
              <small>*You will Recive a mail when your product is ready</small>
              <small>Also you wil see a Button here to access Your Product*</small>
              {{/unless}}

              <div class="rbt-widget-details has-show-more">
                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                  <li><span>Order ID</span><span class="rbt-feature-value rbt-badge-5">{{order.orderId}}</span>
                  </li>
                  {{#if product.status}}
                  <li><span>Status</span><span class="rbt-feature-value rbt-badge-5">{{product.status}}</span></li>
                  {{else}}
                                    <li><span>Status</span><span class="rbt-feature-value rbt-badge-5">Confirmed</span></li>

                  {{/if}}
                  <li><span>Total Price</span><span class="rbt-feature-value rbt-badge-5">{{multi product.qty product.price}}</span></li>
                  <li><span>Quantity</span><span class="rbt-feature-value rbt-badge-5">{{product.qty}}</span></li>
                                  {{!-- <li><span>Quantity</span><span class="rbt-feature-value rbt-badge-5">{{product.qty}}</span></li> --}}

                    </ul>
               
              </div>

              <div class="social-share-wrapper mt--30 text-center">

                <hr class="mt--20">
                <div class="contact-with-us text-center">
                  <p></p>
                  <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Contact us
                     <a href="https://wa.link/cac4zv"><strong>+91 7012533658</strong></a></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




